@font-face{
    font-family:Circular;
    src:url("Airbnb_Cereal-Bold.woff2") format("woff2");
    font-weight:800;
    font-style:normal;
    font-display: block;

}
@font-face{
    font-family:Circular;
    src:url("Airbnb_Cereal-Medium.woff2") format("woff2");
    font-weight:600;
    font-style:normal;
    font-display: block;

}
@font-face{
    font-family:Circular;
    src:url("Airbnb_Cereal-Book.woff2") format("woff");
    font-weight:normal;
    font-style:normal;
    font-display: block;

}

