{% extends "base.html" %}
{% block content %}
<main>
		
		<section class="hero_in general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Tentang lokalx</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Cerita Kami</h2>
					<p></p>
				</div>
				<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-10">
	
						<p  style="text-align: center;font-weight: 400;font-size: 18px;   
						line-height: 26px;letter-spacing: .21px;color: #484848;    display: block;">
Di sini kami berkesempatan untuk menggabungkan semangat kami bersama komunitas lokal dengan keyakinan kami pada prinsip-prinsip Sharing Economy (Ekonomi Berbagi): Bersama menggabungkan kekuatan, berkolaborasi dan berbagi untuk menciptakan suatu nilai lebih bagi banyak orang di Indonesia. 
<br><br>

Indonesia mempunyai begitu banyak budaya, bahasa, seni dan keunikan di tiap-tiap kotanya. Kami ingin menghubungkan orang-orang dari budaya yang berbeda, menciptakan pemahaman dan membantu memajukan Indonesia menjadi lebih baik. 

<br><br>

Pertumbuhan dan perkembangan pariwisata sering meninggalkan efek samping yang merusak bagi budaya, komunitas, dan lingkungan. Ini tidak seharusnya terjadi, kami menemukan inspirasi tentang bagaimana alam bekerja dan menggunakan ini sebagai kompas kami untuk penciptaan holistik. Dalam segala hal yang kami lakukan, tujuan kami adalah meninggalkan tempat lebih baik daripada saat kami menemukannya.<p><em></em></p>
						 </div>
						 <div class="col-lg-1"></div>

				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->

		<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Kami Menghubungkan Wisatawan dengan Pengalaman Lokal</h2>
					<p></p>
				</div>
				<div class="row ">
					<div class="col-lg-1"></div>
					<div class="col-lg-10">
						<p style="text-align: center;font-weight: 400;font-size: 18px;   
						line-height: 26px;letter-spacing: .21px;color: #484848;    display: block;">
												lokalx adalah sebuah platform yang memungkinkan para wisatawan untuk melakukan pemesanan perjalanan penuh pengalaman yang otentik, langsung dari warga lokal di Indonesia.  
												<br><br>Kami merangkap pengalaman mendalam bagi wisatawan dan penghasilan langsung bagi warga lokal. 100% dari uang yang diminta oleh lokal setempat dibayar langsung kepada mereka, lokalx tidak mengenakan biaya sepeser pun.
												<br><br>
						
						Kami bertujuan untuk membangun komunitas sosial bagi wisatawan dan penduduk lokal untuk mendorong terciptanya dampak sosial yang dapat membentuk pariwisata berkelanjutan dan bertanggung jawab di Indonesia.

						Dengan dampak sosial, kami bermaksud menciptakan efek positif bagi masyarakat dengan melakukan tindakan yang memecahkan masalah sosial melalui koridor ekonomi, lingkungan, budaya, hak asasi manusia, pengangguran, pendidikan, dll.
						<p><em></em></p>
					</div>
					<div class="col-lg-1"></div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->



		<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Prinsip</h2>
					<p></p>
				</div>
				<div class="row ">
						<div class="col-lg-1"></div>
						<div class="col-lg-10">

						<p style="text-align: center;font-weight: 400;font-size: 18px;   
						line-height: 26px;letter-spacing: .21px;color: #484848;    display: block;">
						lokalx didirikan dengan visi yang jelas disertai tiga prinsip utama. Prinsip-prinsip tersebut adalah :
						<br><br>
						<b>Menghubungkan:</b> Kami berusaha menjadi jembatan penghubung antar budaya dan menyatukan orang-orang dengan berbagai latar belakang, agar tercipta hubungan yang lebih dalam serta kenangan yang yang tak terlupakan.
						<br><br>
						<b>Berperan serta:</b> Kami percaya pada kekuatan transformatif dari sebuah perjalanan. Turut mengambil peran dalam kehidupan warga lokal dapat memberikan pemahaman yang lebih mendalam serta sudut pandang baru bagi para wisatawan.
						<br><br>
						<b>Memberdayakan:</b> Sebuah perjalanan memiliki kemampuan unik untuk menguatkan keadaan ekonomi dan meningkatkan kualitas hidup bagi berbagai komunitas di seluruh dunia. Kami ingin memberdayakan warga lokal dengan menghubungkan mereka secara langsung pada konsumer.
						<p><em></em></p>
					</div>
					<div class="col-lg-1"></div>

				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->


	</main>
	<!--/main-->
	{% endblock content %}
