{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load tour_tags %}
{% block css %}
<link href="/static/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style>
   .hero_in.tours_detail:before {
   background: url({{object.get_cover}})
   } 
   .datepicker.dropdown-menu {
   z-index: 9999 !important;
   }
</style>
{% endblock css %}    
{% block content %}
<main>
   <section class="hero_in tours_detail">
      <div class="wrapper">
         <div class="container">
            <h1 class="fadeInUp"><span></span>{{object.title}}</h1>
         </div>
         <span class="magnific-gallery">
         <a href="{{object.get_photo}}" class="btn_photos" title="Photo title" data-effect="mfp-zoom-in">View photos</a>
         <a href="img/gallery/tour_list_2.jpg" title="Photo title" data-effect="mfp-zoom-in"></a>
         <a href="img/gallery/tour_list_3.jpg" title="Photo title" data-effect="mfp-zoom-in"></a>
         </span>
      </div>
   </section>
   <!--/hero_in-->
   <div class="bg_color_1">
      <nav class="secondary_nav sticky_horizontal">
         <div class="container">
            <ul class="clearfix">
               <li><a href="#description" class="active">Description</a></li>
               <li><a href="#reviews">Reviews</a></li>
               <li><a href="#sidebar">Booking</a></li>
            </ul>
         </div>
      </nav>
      <div class="container margin_60_35">
         <div class="row">
            <div class="col-lg-7">
               <section id="description">
                  <h2>About</h2>
                  <p>{{object.about|linebreaks}}</p>
                  <h3>Instagram photos feed</h3>
                  <div id="instagram-feed" class="clearfix"></div>
                  <hr>
                  <h3>What we’ll do</h3>
                  <p>
                     {{object.activity|linebreaks}}
                  </p>
                  <hr>
                  <h3>What I’ll provide</h3>
                  <p>
                     {{object.provide|linebreaks}}
                  </p>
                  <hr>
                  <h3>Who can come</h3>
                  <p>
                     Guests ages {{object.age}} and up can attend. 
                  </p>
                  <hr>
                  <h3>Notes</h3>
                  <p>
                     {{object.note|linebreaks}}
                  </p>
                  <hr>
                  <h3>Where we’ll be</h3>
                  <p>
                     {{object.mp_description|linebreaks}}
                  </p>
                  <hr>
                  <h3>Location</h3>
                  <div id="map" class="map map_single add_bottom_30"></div>
                  <hr>
                  <h3>Upcoming Guest</h3>
                  <p>Looking for friends and want to save your budget ? you can join with other guest.</p>
                  <br>
                  <div class="row">
                     {% for i in obj_booking %}
                     <div class="col-lg-6">
                        {{i.dates|date:"D, M d Y"}} · {{i.available__start_time|time:"H:i A"}} − {{i.available__end_time|time:"H:i A"}}<br>
                        <strong style="color:#32a067;">{{i.total_guest}}</strong> People Booked on this date. <br>
                        <strong style="color: #32a067;">IDR {{i.price}}</strong> per person
                     </div>
                     {% if forloop.counter|divisibleby:2 %}
                  </div>
                  <hr>
                  <div class="row">
                     {% endif %}
                     {% endfor %}
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-6">
                        <a href="javascript:void(0)" class="see_dates">See all available dates</a>
                     </div>
                     <div class="col-lg-6">
                        <a href="/contact">Contact Us</a>
                     </div>
                  </div>
               </section>
               <!-- /section -->
               <hr>
            </div>
            <!-- /col -->
            <aside class="col-lg-1"></aside>
            <aside class="col-lg-4" id="sidebar">
               <form id="form-booking" action="{% url 'bookingexp' object.slug %}">
                  <div class="box_detail booking">
                     {% csrf_token %}
                     <div class="price">
                        <span> IDR <span id="price_text">{{object.price|HumanFormat}}</span> <small>/person</small></span>
                     </div>
                     <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Your name" required>
                     </div>
                     <div class="form-group">
                        <input class="form-control" type="text" name="contact" placeholder="Your whatsup number (Optional)">
                     </div>
                     <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Your email" required>
                     </div>
                     <div class="form-group">
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="exp_type" id="inlineRadio2" value="Sharing">
                           <label class="form-check-label" for="inlineRadio2">Join Sharing</label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" name="exp_type" id="inlineRadio1" value="Private">
                           <label class="form-check-label" for="inlineRadio1">Private</label>
                        </div>
                     </div>
                     <div class="form-group" id="input_date">
                        <input class="form-control" type="text" name="dates" placeholder="When.." autocomplete="off">
                        <i class="icon_calendar"></i>
                     </div>
                     <div class="panel-dropdown">
                        <a href="#">Guests <span class="qtyTotal">1</span></a>
                        <div class="panel-dropdown-content right">
                           <div class="qtyButtons">
                              <label>Adults</label>
                              <input type="text" name="qtyInput" value="1">
                           </div>
                        </div>
                     </div>
                     <div class="price-details"></div>
                     <button type="submit" id="BookingButton" class="btn_1 full-width purchase">Booking</button>
                     <br>
                     <div class="text-center result"></div>
                     <div class="text-center"><small>No money charged in this step</small></div>
                  </div>
               </form>
               <ul class="share-buttons">
                  <li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
                  <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Tweet</a></li>
                  <li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> Share</a></li>
               </ul>
            </aside>
         </div>
         <!-- /row -->
      </div>
      <!-- /container -->
   </div>
   <!-- /bg_color_1 -->
</main>
<!--/main-->
<div id="cookie-bar" class="fixed bottom"><p>We use cookies to track usage and preferences.<a href="" class="cb-enable">I accept</a><a href="#" class="cb-policy">Privacy Policy</a></p></div>
width: 100% !important;
background-color: rgb(255, 255, 255) !important;
position: fixed !important;
bottom: 0px !important;
box-shadow: rgba(72, 72, 72, 0.15) 0px -2px 1px 0px !important;
z-index: 3 !important;
opacity: 1 !important;
height: 83px !important;
padding: 16px 0px !important;
transition: all 0.2s ease 0s !important;
{% endblock content %}
{% block js %}
<!-- Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBem6H1KiKv7rBqyAAwdn0Xi9BB_FLOLNc"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/map_single_tour.js"></script>
<script src="/static/js/infobox.js"></script>
<script src="/static/js/error.js"></script>
<!-- DATEPICKER  -->
<script>
   axios.interceptors.request.use(function(config) {
     console.log('Start Ajax Call');
     return config;
   }, function(error) {
     console.log('Error');
     return Promise.reject(error);
   });
   
   axios.interceptors.response.use(function(response) {
     // Do something with response data
     console.log('Done with Ajax call');
   
     return response;
   }, function(error) {
     // Do something with response error
     console.log('Error fetching the data');
     return Promise.reject(error);
   });
   
   
   function get_price() {
       const guest = $("input[name=qtyInput]").val();
       const date = $("input[name=dates]").val();
       const exp_type = $("input[name=exp_type]:checked").val();
       const url = '/experience/{{object.slug}}';
       axios.get(url, {
          params: {
            getprice: true,
            guest: guest,
            date:date,
            exp_type:exp_type,
          }
       })
       .then(function (response) {
          $(".price-details").html(response.data);
          //$(".price_text").html(response.data.total_guest);
       })
   
   }
   
   $("input[type='radio']").on("change", function(){        
      get_price()
    });
   
   
   $('#input_date input').datepicker({
       format: "dd-mm-yyyy",
       todayBtn: "linked",
       clearBtn: true,
       startView: 1,
       autoclose: true,
       todayHighlight: true,
       orientation: "bottom left",
       startDate: new Date(),
       endDate: '+15m',
       datesDisabled: {% autoescape off %} {{object.get_availability}} {% endautoescape %}
   }).on('changeDate', function(ev) {
       get_price()
   });
   
   
   
   $(".see_dates").on("click", function() {
       $('input[name="dates"]').focus();
   });
   
   const formBooking = document.getElementById('form-booking');
   formBooking.addEventListener('submit', performPostRequest);
   async function performPostRequest(e) {
       e.preventDefault();
       const formBookData = new FormData(formBooking);
       const url = formBooking.action
       const result = await axios.post(url, formBookData);
       var target = document.querySelector(".result");
       target.innerHTML = RESP[result.data];
       var button = document.getElementById('BookingButton');
       button.disabled = true;
   }   
</script>
<!-- INPUT QUANTITY  -->
<script src="/static/js/input_qty.js"></script>
<!-- INSTAGRAM FEED  -->
<script>
   $(window).on('load', function() {
       "use strict";
       $.instagramFeed({
           'username': 'kampongijen',
           'container': "#instagram-feed",
           'display_profile': false,
           'display_biography': false,
           'display_gallery': true,
           'get_raw_json': false,
           'callback': null,
           'styling': true,
           'items': 12,
           'items_per_row': 6,
           'margin': 1
       });
   });
</script>        
{% endblock js %}