{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block css %}
<!-- SPECIFIC CSS -->
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock css %}
{% block title %} Blog - lokalx
{% endblock %}
{% block content %}
<main>
	<section class="hero_in general">
		<div class="wrapper">
			<div class="container">
				{% if not pagecategory %}
				<h1 class="fadeInUp"><span></span>Blog</h1>
				<p>Konten favorit dan informatif tentang kiat wisata, tempat & event menarik yang ada di Indonesia.</p>
				{% else %}
				<h1 class="fadeInUp"><span></span>{{keyword}}</h1>
				
				{% endif %}
			</div>
		</div>
	</section>
	<!--/hero_in-->

	<div class="container margin_60_35">
		<div class="row">
			<div class="col-lg-9">
				{% for i in page.object_list %}
				<article class="blog wow fadeIn">
					<div class="row no-gutters">
						<div class="col-lg-7">
							<figure>
								<a href="{% url 'article_detail' i.slug %}">
									{% thumbnail i.photo "840x550" crop="center" as im %}
                                         <img src="{{ im.url }}" alt="{{i.title}}">
				                    {% endthumbnail %}
									<div class="preview"><span>Read more</span></div>
								</a>
							</figure>
						</div>
						<div class="col-lg-5">
							<div class="post_info">
								<small>{{i.created|date:"d M. Y"}}</small>
								<h3 style="font-size: 24px;
								line-height: 30px;font-weight: 500;"><a href="{% url 'article_detail' i.slug %}">{{i.title}}</a></h3>
								<p>{% autoescape off %}{{i.content|striptags|urlize|slice:":210"}}...{% endautoescape %}</p>
								<!--<ul>
									<li>
										<div class="thumb"><img src="/static/img/author.jpg" alt=""></div> LK Staff
									</li>
									<li><i class="icon-heart-empty-4"></i> 0</li>
								</ul>-->
							</div>
						</div>
					</div>
				</article>
				{% endfor %}


				<nav aria-label="...">
					<ul class="pagination pagination-sm" style="float:right">
						{% if page.has_previous %}
						<li class="page-item">
							<a class="page-link" href="{% url 'articles' %}?page={{page.previous_page_number}}" tabindex="-1">Previous</a>
						</li>
						{% endif %}
						{% if page.has_next %}
						<li class="page-item">
							<a class="page-link" href="{% url 'articles' %}?page={{page.next_page_number}}">Next</a>
						</li>
						{% endif %}
					</ul>
				</nav>
				<!-- /pagination -->
			</div>
			<!-- /col -->

			<aside class="col-lg-3">
				<!--
				<div class="widget">

					<form>
						<div class="form-group">
							<input type="text" name="search" id="search" class="form-control" placeholder="Cari...">
						</div>
						<button type="submit" id="submit" class="btn_1 rounded"> Cari</button>
					</form>
				</div>
				-->
				<!-- /widget -->
				<div class="widget">
					<div class="widget-title">
						<h4>Tulisan Terbaru</h4>
					</div>
					<ul class="comments-list">
						{% for i in lastest %}
						<li>
							<div class="alignleft">
								<a href="{% url 'article_detail' i.slug %}">
									{% thumbnail i.photo "150x150" crop="center" as im %}
									<img src="{{ im.url }}" alt="{{i.title}}">
							        {% endthumbnail %}	
							</a>
							</div>
							<small>{{i.created|date:"d.m.Y"}}</small>
							<h3><a href="{% url 'article_detail' i.slug %}" title="">{{i.title}}</a></h3>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!-- /widget -->
				<div class="widget">
					<div class="widget-title">
						<h4>Kategori</h4>
					</div>
					<ul class="cats">
						{% for i in category %}
						<li><a href="{% url 'category' i.slug %}">{{i.name}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</aside>
			<!-- /aside -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
<!--/main-->
{% endblock content %}
