{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block css %}
<!-- SPECIFIC CSS -->
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<style>
   .hero_in.general:before {
   background: url({{object.photo.url}})
   } 
</style>
{% endblock css %}
{% block content %}
<main style="background-color: #fff; ">
		<section class="hero_in general">
			<div class="wrapper">
				<div class="container">
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-2">
				</aside>
		
				<div class="col-lg-8">
					<div class="bloglist singlepost">
						
						<h1 style="font-weight: 600;font-size: 46px;
						line-height: 52px;">{{object.title}}</h1>
						<div class="postmeta">
							<ul>
								<li><a href="{% url 'category' object.category.slug %}"><i class="icon_folder-alt"></i> {{object.category.name}}</a></li>
								<li><a href="#"><i class="icon_clock_alt"></i> {{object.created|date:"d/m/Y"}}</a></li>
								<li><a href="#"><i class="icon_pencil-edit"></i> lokalx Editor</a></li>
								<!--<li><a href="#"><i class="icon_comment_alt"></i> (0) Comments</a></li>-->
							</ul>
							<div class="wv-button-placeholder"></div>
						</div>
						<!-- /post meta -->
						<div class="post-content" style="font-weight: 400;font-size: 18px;   
						line-height: 26px;letter-spacing: .21px;color: #484848;    display: block;">
								{% autoescape off %}{{object.content|safe}}{% endautoescape %}
						</div>
						<!-- /post -->
						<div class="form-group">
							<a href="/blog" class="btn_1 rounded add_bottom_30" style="color: white;"> Back to list blog</a>
						</div>
						<h5>Share This Article</h5>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-560c1bf8bc64792e"></script>

	
					</div>
					<!-- /single-post -->
				</div>
				<!-- /col -->

				<aside class="col-lg-2">
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
{% endblock content %}
{% block js %}
<script async src="https://widget.websitevoice.com/lLvSvgV4N-2EXN34AnAuDg"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'lLvSvgV4N-2EXN34AnAuDg');
  wvtag('language', 'id-ID');
  wvtag('text-selector', '.post-content');
  wvtag('widget-style', {
    backgroundColor: '#F56C6C',
    tooltipText: 'Baca Konten',
    showTime: true,
    buttonText: 'Gunakan Audio'
  });
</script>
{% endblock js %}
