{% extends "base.html" %}
{% block title %} Kebijakan Pembatalan - lokalx
{% endblock %}
{% block content %}
<main>
		
		<section class="hero_in general">
			<div class="wrapper">
				<div class="container">
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Kebijakan pembatalan lokalx</h2>
					<p></p>
				</div>
				<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-10">
	
						<p  style="text-align: center;font-weight: 400;font-size: 18px;   
						line-height: 26px;letter-spacing: .21px;color: #484848;    display: block;">
<b>Pembatalan</b>
<br><br>
Anda dapat melakukan pembatalan dalam 24 jam setelah pemesanan atau hingga 30 hari sebelum tanggal dimulainya pengalaman untuk mendapatkan  pengembalian dana  secara penuh.
<br><br>
<b>Jadwal Ulang</b>
<br><br>
Anda dapat melakukan penjadwalan ulang tanggal atau waktu untuk pengalaman yang anda pesan hingga 72 jam sebelum pengalaman tersebut dimulai.
<br><br>
<b>Membatalkan Pengalaman yang Telah Dijadwal Ulang</b>
<br><br>
Jika anda melakukan penjadwalan ulang, anda dapat melakukan pembatalan dan menerima pengembalian dana secara penuh dalam 24 jam dari waktu pemesanan awal atau hingga 30 hari sebelum tanggal dimulainya pengalaman yang dipesan pertama kali.
<br><br>
<b>Cuaca</b>
<br><br>
Pramuwisata lokal akan mengupayakan agar pengalaman dilaksanakan sesuai jadwal. Bila kondisi cuaca buruk hingga berpotensi membahayakan, warga lokal bisa membatalkan pengalaman tersebut.
Jika ini terjadi, lokalx.id akan bekerjasama dengan pramuwisata lokal untuk memberikan pengembalian dana yang sesuai.
						 </div>
						 <div class="col-lg-1"></div>

				</div><p class="btn_home_align text-center"><a href="/bantuan" class="btn_1 rounded">Lihat Bantuan</a></p>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->


	</main>
	<!--/main-->
	{% endblock content %}