{% extends "base.html" %}
{% block title %} Kontak Kami - lokalx
{% endblock %}
{% block content %}
<main>
		<section class="hero_in contacts">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Kontak Kami</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="contact_info">
			<div class="container">
				<ul class="clearfix">
					<li>
						<i class="pe-7s-map-marker"></i>
						<h4>Alamat</h4>
						<span><a class="reset-color" href="https://goo.gl/maps/mL6NDwgRKV52">Dusun Krajan RT 05 RW 01, Desa Banjar Kec. Licin Kab. Banyuwangi, Jawa Timur, Indonesia, Krajan, Banjarsari, Banyuwangi, Kabupaten Banyuwangi, Jawa Timur 68454</a></span>
					</li>
					<li>
						<i class="pe-7s-mail-open-file"></i>
						<h4>Email</h4>
						<span><a class="reset-color" href="mailto:support@lokalx.id">support@lokalx.id</a><br><small></small></span>

					</li>
					<li>
						<i class="pe-7s-phone"></i>
						<h4>Informasi Kontak</h4>
						<span><a class="reset-color" href="tel:+6282338632990">+6282338632990 (Phone & Whatsup)</a><br><small></small></span>
						
					</li>
				</ul>
			</div>
		</div>
		<!--/contact_info-->
	</main>
	<!--/main-->
	{% endblock content %}
