{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load tour_tags %}
{% block meta %}
<title>
   {{object.title}} - Lokalx 
</title>
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="2 days" />
<meta property="og:title" content="{{object.title}} - Lokalx " />
<meta property="og:description" content="{% if object.activity %}{% spaceless %}{{object.activity|slice:'200'}}{% endspaceless %}{% endif %}" />
<meta property="og:url" content="https://lokalx.id{{object.get_absolute_url}}" />
<meta property="og:type" content="product" />
<meta property="og:image" content="https://lokalx.id{% if object.photo %}{{object.photo.url}}{% endif %}" />
<meta property="og:site_name" content="Lokalx.id" />
{% endblock %}
{% block css %}
<link href="/static/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style>
   .datepicker.dropdown-menu {
   z-index: 9999 !important;
   }
   ._1jlnvra2 {
   margin: 0px !important;
   word-wrap: break-word !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   font-size: 14px !important;
   font-weight: 400 !important;
   line-height: 1.2857142857142858em !important;
   color: #484848 !important;
   }
   ._1p3joamp {
   margin: 0px !important;
   word-wrap: break-word !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   font-size: 17px !important;
   font-weight: 600 !important;
   line-height: 1.375em !important;
   color: #484848 !important;
   }
   .sub-provide {
   font-weight: 600 !important;
   color: #484848 !important;
   }
   .hero_in.adventure_detail {
   background: linear-gradient(
   rgba(20,20,20, .5), 
   rgba(20,20,20, .5));
   }
   .hero_in.adventure_detail:before {
   background: url({{object.get_photo}}) center center no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-position: 0 0;
   display: inline-block;
   }
   .hero_in:before {
   animation: pop-in 5s 0.3s cubic-bezier(0, 0.5, 0, 1) forwards;
   content: "";
   opacity: 0;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   }
   .pengalaman-p {
   margin-top: -30px;
   word-wrap: break-word !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   font-size: 18px;
   font-weight: 400 !important;
   line-height: 1.6666666666666667em !important;
   color: #484848 !important;
   }
   .pengalaman-p-date {
   margin-top: -30px;
   font-size: 18px;
   word-wrap: break-word !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   line-height: 1.6666666666666667em !important;
   color: #484848 !important;
   }
   .pengalaman-sub {
   margin: 0px !important;
   word-wrap: break-word !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   font-size: 32px !important;
   font-weight: 800 !important;
   line-height: 1.125em !important;
   color: #484848 !important;
   }
   .pengalaman-host {
   margin-bottom: 40px !important;
   }
   .secondary_nav.is_stuck {
   z-index: 99;
   width: 100% !important;
   left: 0;
   }
   ._1a4cmhi {
   -webkit-box-direction: normal !important;
   -webkit-box-orient: vertical !important;
   display: -webkit-box !important;
   display: -moz-box !important;
   display: -ms-flexbox !important;
   display: -webkit-flex !important;
   display: flex !important;
   -webkit-flex-direction: column !important;
   -ms-flex-direction: column !important;
   flex-direction: column !important;
   border: 1px solid rgba(0, 0, 0, 0.1) !important;
   border-radius: 4px !important;
   padding: 40px 28px !important;
   width: 100% !important;
   white-space: pre-line !important;
   }
   ._222jlx8 {
   padding: 8px 16px 8px 0 !important;
   display: -webkit-box !important;
   display: -moz-box !important;
   display: -ms-flexbox !important;
   display: -webkit-flex !important;
   display: flex !important;
   min-height: 220px !important;
   cursor: pointer !important;
   }
   .list_feat {
   -webkit-box-lines: multiple !important;
   display: -webkit-box !important;
   display: -moz-box !important;
   display: -ms-flexbox !important;
   display: -webkit-flex !important;
   display: flex !important;
   -webkit-flex-wrap: wrap !important;
   -ms-flex-wrap: wrap !important;
   flex-wrap: wrap !important;
   margin-right: -16px !important;
   }
   ul.list_feat li {
   margin: 0px;
   border: 0px;
   }
   ._1mgxxu3 {
   background-color: var(--color-accent-light-gray, #D8D8D8) !important;
   border-radius: var(--border-profile-photo-border-radius, 50%) !important;
   border-width: var(--border-profile-photo-border-width, 2px) !important;
   border-color: var(--color-white, #ffffff) !important;
   }
   ._1mgxxu3 {
   background-color: #D8D8D8 !important;
   border-radius: 50% !important;
   border-width: 2px !important;
   border-style: solid !important;
   border-color: #ffffff !important;
   vertical-align: middle !important;
   overflow: hidden !important;
   display: block !important;
   }
   .hero_in.adventure_detail .wrapper .main_info ul li span {
   font-size: 0.80rem;
   }
   ._14h2grbm {
   font-size: inherit !important;
   font-family: inherit !important;
   font-weight: inherit !important;
   font-style: inherit !important;
   font-variant: inherit !important;
   line-height: inherit !important;
   -webkit-appearance: none !important;
   -moz-appearance: none !important;
   appearance: none !important;
   background: transparent !important;
   border: 0px !important;
   cursor: pointer !important;
   margin: 0px !important;
   padding: 0px !important;
   -webkit-user-select: auto !important;
   -moz-user-select: auto !important;
   -ms-user-select: auto !important;
   user-select: auto !important;
   color: #00937A !important;
   text-decoration: none !important;
   }
   .choose-date {
   border-radius: var(--border-button-border-radius, 4px) !important;
   font-size: var(--font-button-font-size, 16px) !important;
   line-height: var(--font-button-line-height, 24px) !important;
   letter-spacing: var(--font-button-letter-spacing, normal) !important;
   font-family: var(--font-button-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
   text-transform: var(--font-button-text-transform, undefined) !important;
   padding-top: var(--spacing-button-vertical, 10px) !important;
   padding-bottom: var(--spacing-button-vertical, 10px) !important;
   font-weight: var(--font-bold-font-weight, 800) !important;
   border-width: var(--border-button-border-width, 2px) !important;
   padding-left: var(--spacing-button-horizontal, 22px) !important;
   padding-right: var(--spacing-button-horizontal, 22px) !important;
   box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
   background: var(--color-buttons-secondary-color, transparent) !important;
   border-color: var(--color-buttons-secondary-border, #00937A) !important;
   color: var(--color-buttons-secondary-text, #00937A) !important;
   outline: none !important;
   }
   .choose-date {
   display: inline-block !important;
   margin: 0px !important;
   position: relative !important;
   text-align: center !important;
   text-decoration: none !important;
   -webkit-transition-property: background, border-color, color !important;
   -moz-transition-property: background, border-color, color !important;
   transition-property: background, border-color, color !important;
   -webkit-transition-duration: 0.2s !important;
   transition-duration: 0.2s !important;
   -webkit-transition-timing-function: ease-out !important;
   transition-timing-function: ease-out !important;
   width: auto !important;
   cursor: pointer !important;
   border-radius: 4px !important;
   font-size: 16px !important;
   line-height: 24px !important;
   letter-spacing: normal !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   text-transform: undefined !important;
   padding-top: 10px !important;
   padding-bottom: 10px !important;
   font-weight: 800 !important;
   border-width: 2px !important;
   border-style: solid !important;
   padding-left: 22px !important;
   padding-right: 22px !important;
   min-width: 71.19349550499538px !important;
   box-shadow: none !important;
   background: transparent !important;
   border-color: #00937A !important;
   color: #00937A !important;
   }
   ._1o4htsfg {
   display: inline-block !important;
   margin: 0px !important;
   position: relative !important;
   text-align: center !important;
   text-decoration: none !important;
   -webkit-transition-property: background, border-color, color !important;
   -moz-transition-property: background, border-color, color !important;
   transition-property: background, border-color, color !important;
   -webkit-transition-duration: 0.2s !important;
   transition-duration: 0.2s !important;
   -webkit-transition-timing-function: ease-out !important;
   transition-timing-function: ease-out !important;
   cursor: pointer !important;
   border-radius: 4px !important;
   width: 100% !important;
   font-size: 16px !important;
   line-height: 24px !important;
   letter-spacing: normal !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   text-transform: undefined !important;
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight: 800 !important;
   border-width: 2px !important;
   border-style: solid !important;
   padding-left: 22px;
   padding-right: 22px;
   min-width: 71.19349550499538px !important;
   box-shadow: none !important;
   background: #F7675E
   !important;
   border-color: transparent !important;
   color: #ffffff !important;
   }
   ._18ilrswp {
   overflow-wrap: break-word !important;
   font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
   font-size: 16px !important;
   font-weight: 800 !important;
   line-height: 1.375em !important;
   color: rgb(72, 72, 72) !important;
   margin: 0px !important;
   }
   .reviews-container .review-box {
   padding-left: 0px;
   }
   ._czm8crp {
   margin: 0px !important;
   word-wrap: break-word !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   font-size: 16px !important;
   font-weight: 400 !important;
   line-height: 1.375em !important;
   color: #484848 !important;
   }
   ._1y6miqcb {
   font-size: inherit !important;
   font-family: inherit !important;
   font-weight: inherit !important;
   font-style: inherit !important;
   font-variant: inherit !important;
   line-height: inherit !important;
   color: #008489 !important;
   text-decoration: none !important;
   }
   ._1mctm6ho {
   margin: 0px !important;
   word-wrap: break-word !important;
   font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
   font-size: 24px !important;
   font-weight: 600 !important;
   line-height: 1.25em !important;
   color: #484848 !important;
   }
   .btn_1.full-width.purchase {
   background-color: #F7675E;
   }
   a.btn_1.full-width.purchase:hover,
   .btn_1.full-width.purchase:hover {
   background-color: #F7675E;
   }
   div#datepicker table tr td, div#datepicker table tr th {
   border-collapse: separate;
   padding:6px;
   }
   .datepicker table {
   border-collapse: separate;
   border-spacing: 4px 5px;
   text-align: center;
   }
   .datepicker table tr td.day {
   font-weight: 700;
   cursor: pointer;
   color: #008489;
   background: #eee; 
   border-spacing: 0;
   }
   .datepicker table tr td.disabled,
   .datepicker table tr td.disabled:hover {
   background: 0 0;
   color: #777;
   text-decoration: line-through;
   cursor: default
   }
   .box_detail {
   border: 0px solid #ededed;
   }
   #panel_dates a.aside-panel-bt {
   font-size: 30px;
   color: gray;
   }
</style>
{% endblock css %}    
{% block content %}
<main>
   <section class="hero_in adventure_detail">
      <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
         <div class="container">
            <div class="main_info">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <em>{% trans 'Day trip' %}, {{object.get_duration}}</em>
                     </div>
                     <h1>{{object.title}}</h1>
                     <p>{{object.city}}, {{object.city.state}}</p>
                  </div>
                  <div class="col-lg-8">
                     <div class="pl-lg-4">
                        <ul>
                           <li><i class="pe-7s-map-marker"></i>{% trans 'Group Size' %} <span>{% trans 'Up to' %} {{object.maxgroup}}</span></li>
                           <li><i class="pe-7s-graph3"></i>{% trans 'Activity level' %} <span>{{object.get_activity_level_display}}</span></li>
                           <li class="mobile-li"><i class="pe-7s-shopbag"></i>{% trans 'Includes' %} <span>
                              {% if object.provide_food %}{% trans 'Food' %}, {% endif %}{% if object.provide_drinks %}{% trans 'Drinks' %}, {% endif %}
                              {% if object.provide_tickets %}{% trans 'Tickets' %}, {% endif %}{% if object.provide_transport %}{% trans 'Transportation' %}, {% endif %}
                              {% if object.provide_equip %}{% trans 'Equipment' %}{% endif %}
                              </span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <!-- /row -->
            </div>
            <!-- /main_info -->
         </div>
      </div>
   </section>
   <!--/hero_in-->
   <div class="bg_color_1">
      <nav class="secondary_nav _b4rlyi">
         <div class="container">
            <div class="d-flex align-items-center justify-content-between">
               <div>Mulai dari <br>
                  <span class="_18ilrswp">IDR {{object.get_price}}/{% trans 'person' %}</span>
               </div>
               <div>
                  <button type="button" class="_1o4htsfg aside-panel-bt" href="#0" aria-busy="false">
                     <span class="_ftj2sg4">
                        <div class="_16k789vq" title="See dates">{% trans 'See dates' %}</div>
                     </span>
                  </button>
               </div>
            </div>
         </div>
      </nav>
      <div class="container margin_60_35 adventure_description">
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans "What you'll do" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <p class="lead">
                     {{object.activity|linebreaks}}
                  </p>
               </div>
            </div>
         </div>
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub pengalaman-host">
               <p>{% trans 'Your Host' %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <p class="lead">
                     {% if object.host %}
                     {% thumbnail object.host "200x200" crop="center" as im %}
                     <img class="_1mgxxu3" src="{{ im.url }}" alt="{{object.title}} bersama {{object.host_name}}" title="{{object.host_name}}">
                     {% endthumbnail %}
                     {% endif %}
                     <br>
                  <h4>{{object.host_name}}</h4>
                  {{object.about|linebreaks}}
                  </p>
               </div>
            </div>
         </div>
         <!-- /row -->
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans 'Photos' %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <div class="pictures magnific-gallery clearfix">
                     <div id="instagram-feed" class="clearfix">
                        <div class="instagram_gallery"></div>
                        {% if object.gallery1 %}
                        <a href="{{object.gallery1.url}}" target="_blank">	
                        {% thumbnail object.gallery1 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery2 %}
                        <a href="{{object.gallery2.url}}" target="_blank">	
                        {% thumbnail object.gallery2 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery3 %}
                        <a href="{{object.gallery3.url}}" target="_blank">	
                        {% thumbnail object.gallery3 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery4 %}
                        <a href="{{object.gallery4.url}}" target="_blank">	
                        {% thumbnail object.gallery4 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery5 %}
                        <a href="{{object.gallery5.url}}" target="_blank">	
                        {% thumbnail object.gallery5 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery6 %}
                        <a href="{{object.gallery6.url}}" target="_blank">	
                        {% thumbnail object.gallery6 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery7 %}
                        <a href="{{object.gallery7.url}}" target="_blank">	
                        {% thumbnail object.gallery7 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery8 %}
                        <a href="{{object.gallery8.url}}" target="_blank">	
                        {% thumbnail object.gallery8 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}

                        {% if object.gallery9 %}
                        <a href="{{object.gallery9.url}}" target="_blank">	
                        {% thumbnail object.gallery9 "640x799" crop="center" as im %}
                        <img alt="{{object.title}} bersama {{object.host_name}}" style="margin:1% 1%;width:30%;" src="{{ im.url }}">
                        {% endthumbnail %}
                        </a>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /row -->
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans "What's included" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4">
                  <ul class="list_feat clearfix">
                     {% if object.pfood_description %}
                     <li class="_222jlx8">
                        <div class="_1a4cmhi">
                           <figure><img src="/static/img/icon_included_1.svg" alt=""></figure>
                           <h4 class="_1p3joamp">{% trans 'Food' %}</h4>
                           <p class="sub-provide">{{object.get_provide_food_display}}</p>
                           <p class="_1jlnvra2">{{object.pfood_description}}</p>
                        </div>
                     </li>
                     {% endif %}
                     {% if object.drinks_description %}
                     <li class="_222jlx8">
                        <div class="_1a4cmhi">
                           <figure><img src="/static/img/icon_included_2.svg" alt=""></figure>
                           <h4 class="_1p3joamp">{% trans 'Drinks' %}</h4>
                           <p class="sub-provide">{{object.get_provide_drinks_display}}</p>
                           <p class="_1jlnvra2">{{object.drinks_description}}</p>
                        </div>
                     </li>
                     {% endif %}
                     {% if object.tickets_description %}
                     <li class="_222jlx8">
                        <div class="_1a4cmhi">
                           <figure><img src="/static/img/icon_included_6.jpg" width="45" alt=""></figure>
                           <h4 class="_1p3joamp">{% trans 'Tickets' %}</h4>
                           <p class="sub-provide">{{object.get_provide_tickets_display}}</p>
                           <p class="_1jlnvra2">{{object.tickets_description}}</p>
                        </div>
                     </li>
                     {% endif %}
                     {% if object.equip_description %}
                     <li class="_222jlx8">
                        <div class="_1a4cmhi">
                           <figure><img src="/static/img/icon_included_3.svg" alt=""></figure>
                           <h4 class="_1p3joamp">{% trans 'Equipment' %}</h4>
                           <p class="sub-provide">{{object.get_provide_equip_display}}</p>
                           <p class="_1jlnvra2">{{object.equip_description}}</p>
                        </div>
                     </li>
                     {% endif %}
                     {% if object.transport_description %}
                     <li class="_222jlx8">
                        <div class="_1a4cmhi">
                           <figure><img src="/static/img/icon_included_5.jpg" width="45" alt=""></figure>
                           <h4 class="_1p3joamp">{% trans 'Transportation' %}</h4>
                           <p class="sub-provide">{{object.get_provide_transport_display}}</p>
                           <p class="_1jlnvra2">{{object.transport_description}}</p>
                        </div>
                     </li>
                     {% endif %}
                  </ul>
               </div>
            </div>
         </div>
         {% if object.guestbring %}
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans "What to bring" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <p class="lead">
                     {{object.guestbring|linebreaks}}
                  </p>
               </div>
            </div>
         </div>
         {% endif %}
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans "Where you'll be" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <p class="lead">
                     {{object.access|linebreaks}}
                  </p>
               </div>
            </div>
         </div>
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans "Where we'll meet" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <p><br>
                     <span class="ti-location-pin"></span> {{object.address}} {% if object.lat %}<a class="_14h2grbm" href="{{object.get_map_url}}"> {% trans "See maps" %}</a> {% endif %}
                  </p>
               </div>
            </div>
         </div>
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans "Availability" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p-date">
                  <div id="datepicker"></div>
                  <input type="hidden" id="my_hidden_input">
                  <p class="lead">
                  <p>Waktu mulai: {{object.start_time|time:"H:iA"}} - {{object.end_time|time:"H:iA"}}</p>
                  {% trans "If you don’t see availability for the time you are looking for, you can request availability from us." %}                         <a class="link _14h2grbm" target="_blank" href="https://api.whatsapp.com/send?phone=6282338632990&text=Halo%2C%20Saya%20ingin%20booking%20pengalaman%20%22{{object.title|urlencode}}%22%0A%0ATerima%20Kasih">Hubungi kami</a>
                  </p>
                  </p>
               </div>
            </div>
         </div>
         <br>
         <div class="row mb-5">
            <div class="col-lg-4 fixed_title pengalaman-sub">
               <p>{% trans "Keep these in mind" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <p class="lead">
                  <div class="row">
                     <div class="col-lg-5 mobile-space _1mctm6ho">
                        {% trans "Cancellation policy" %}
                     </div>
                     <div class="col-lg-7 mobile-space">
                        <p class="_czm8crp">Semua pengalaman bisa dibatalkan dan biayanya dikembalikan secara penuh dalam 24 jam sejak pembelian.
                           <br> <a class="link _1y6miqcb" href="/kebijakan-pembatalan">{% trans "Learn more" %}</a>
                        </p>
                     </div>
                  </div>
                  <hr>
                  </p>
                  <p class="lead">
                  <div class="row">
                     <div class="col-lg-5 mobile-space _1mctm6ho">
                        {% trans "Guest requirements" %}
                     </div>
                     <div class="col-lg-7 mobile-space">
                        <p class="_czm8crp">{% trans "Up to" %} {{object.maxgroup}} {% trans "guests ages" %} {{object.age}} {% trans "and up can attend." %}
                     </div>
                  </div>
                  </p>
                  {% if object.note %}
                  <hr>
                  <p class="lead">
                  <div class="row">
                     <div class="col-lg-5 mobile-space _1mctm6ho">
                        {% trans "Catatan" %}
                     </div>
                     <div class="col-lg-7 mobile-space">
                        <p class="_czm8crp">{{object.note}}</p>
                     </div>
                  </div>
                  </p>
               </div>
               {% endif %}
            </div>
         </div>
         <br><br><br>
         {% if object.review_set.exists %}
         <div class="row">
            <div class="col-lg-4 fixed_title fixed_title pengalaman-sub">
               <p>{% trans "Reviews" %}</p>
            </div>
            <div class="col-lg-8">
               <div class="pl-lg-4 pengalaman-p">
                  <div class="reviews-container">
                     {% for x in object.review_set.all %}
                     <div class="review-box clearfix">
                        <div class="rev-content">
                           <div class="rating">
                              {{x.get_star|safe|escape}}
                           </div>
                           <div class="rev-info">
                              {{x.name}} – {{x.created|date:"M d, Y"}}:
                           </div>
                           <div class="rev-text">
                              <p>
                                 {{x.message|linebreaks}}
                              </p>
                           </div>
                        </div>
                     </div>
                     <!-- /review-box -->
                     {% endfor %}
                  </div>
                  <!-- /review-container -->
               </div>
            </div>
         </div>
         <!-- /row -->
         {% endif %}
      </div>
      <!-- /container -->
   </div>
   <!-- /bg_color_1 -->
</main>
<!--/main-->
<div class="modal" tabindex="1" role="dialog" id="overlay" >
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Booking sukses</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Pesanan Anda telah berhasil dibuat. Anda akan di redirect ke halaman pembayaran</p>
            <center>
               <h4><span id="countdown">6</span></h4>
            </center>
         </div>
      </div>
   </div>
</div>
<div id="panel_dates" class="menu_fixed">
   <a class="aside-panel-bt" href="#0"><i class="icon_close"></i></a>
   <form id="form-booking">
      <div class="box_detail booking">
         {% csrf_token %}
         <div class="price">
            <span> Rp <span id="price_text">{{object.get_price}}</span> <small>/orang</small></span>
         </div>
         <div class="form-group" id="input_date">
            <input class="form-control readonly" type="text" name="dates" placeholder="Kapan.." autocomplete="off">
            <i class="icon_calendar"></i>
         </div>
         <input type="hidden" name="qtyInputMax" id="qtyInputMax" value="{{object.maxgroup}}">
         <div class="panel-dropdown">
            <a href="#">Jumlah Orang<span class="qtyTotal">1</span></a>
            <div class="panel-dropdown-content right">
               <div class="qtyButtons">
                  <label> Tamu</label>
                  <input type="text" name="qtyInput" value="1">
               </div>
            </div>
         </div>
         <div class="price-details"></div>
         <div style="display: none" class="detail-information">
            <div class="form-group">
               <input class="form-control" type="text" name="name" placeholder="Nama Anda" autocomplete="off" required>
            </div>
            <div class="form-group">
               <input class="form-control" type="text" name="phone" placeholder="No. Wa/Telfon Anda" autocomplete="off">
            </div>
            <div class="form-group">
               <input class="form-control" type="email" name="email" placeholder="Email Anda" autocomplete="off" required>
            </div>
            <button type="submit" id="BookingButton" class="btn_1 full-width purchase">Pesan Sekarang</button>
            <br>
            <div class="text-center result">
            </div>
         </div>
         <div style="display: none" class="choose-btn" id="choose-btn">
            <button type="button" id="ChooseButton" class="btn_1 full-width purchase">Pilih</button>
            <a href="https://api.whatsapp.com/send?phone=6282338632990&text=Halo,%20Saya%20tertarik%20dengan%20pengalaman%20{{object.title}}" class="btn_1 full-width outline wishlist">Butuh private & penyesuaian?</a>
         </div>
      </div>
   </form>
   <!-- /box_detail booking -->
   <div class="additional_txt">
      <p>
         <b>Ketentuan</b>
         Jumlah minimum peserta harus dicapai agar aktifitas dapat berjalan. Jika minimum yang diperlukan tidak tercapai, maka semua pemesanan akan dibatalkan. Sistem tidak akan lagi menerima pesanan 4 hari sebelum aktifitas di mulai atau jika sudah memenuhi maksimal peserta.
         <br><br>
         <b>Pembatalan</b>
         <br>
         Anda dapat melakukan pembatalan dalam 24 jam setelah pemesanan atau hingga 30 hari sebelum tanggal dimulainya pengalaman untuk mendapatkan pengembalian dana secara penuh. <i><a href="/kebijakan-pembatalan" style="color:#F7675E">Kebijakan Pembatalan </a></i>
         <br><br>
         <b>Cuaca</b>
         <br>
         Warga lokal akan mengupayakan agar pengalaman dilaksanakan sesuai jadwal. Bila kondisi cuaca buruk hingga berpotensi membahayakan, warga lokal bisa membatalkan pengalaman tersebut.
         Jika ini terjadi, Lokalx akan bekerjasama dengan warga lokal untuk memberikan pengembalian dana yang sesuai.
      </p>
   </div>
</div>
<div class="layer"></div>
<!-- /Overlay mask -->
<!-- panel_dates -->
</div>
<!-- page -->
{% endblock content %}
{% block js %}
<!-- Map -->
<script src="/static/js/error.js"></script>
<script src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- INPUT QUANTITY  -->
<script src="/static/js/input_qty.js"></script>
<!-- DATEPICKER  -->
<script>
   function get_price() {
       const guest = $("input[name=qtyInput]").val();
       let date = $("input[name=dates]").val();
       const exp_type = $("input[name=exp_type]:checked").val();
       const url = '/experience/{{object.slug}}';
       $.ajax({
           type: 'GET',
           url: url,
           data: {
               getprice: true,
               guest: guest,
               exp_type: exp_type,
               date: date
           },
           beforeSend: function() {
               $(".price-details").html(RESP["loader"]);
           },
           success: function(data) {
               if (data == "nodate") {
                  $(".price-details").html(RESP[data]);
               } else {
                  $(".price-details").html(data).fadeIn('slow');
               }
               $(".choose-btn").show()
   
           },
           error: function(xhr) {
               alert("Error occured.please try again");
   
           }
       });
   
   
   }
   
   
   $.fn.datepicker.dates['id'] = {
   		days: ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"],
   		daysShort: ["Mgu", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"],
   		daysMin: ["Mgu", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"],
   		months: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],
   		monthsShort: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Ags", "Sep", "Okt", "Nov", "Des"],
   		today: "Hari Ini",
   		clear: "Kosongkan"
   };
   
    $(document).on('click', '.form-check-input', function(e) {
      get_price()
   });
   {% autoescape off %}
   {% with date_list=object.get_availability %}
   
   $('#input_date input').datepicker({
       format: "dd-mm-yyyy",
       clearBtn: true,
       startView: 1,
       autoclose: true,
       todayHighlight: true,
       orientation: "bottom left",
       startDate: new Date(),
       language: "id",
       endDate: '+12m',
       container: '#panel_dates',
       {{date_list}}
   });
   //$("#input_date input").val(moment().format("DD-MM-YYYY"))
   
   $('#datepicker').datepicker({
      format: "dd-mm-yyyy",
      startDate: new Date(),
      startView: 0,
      language: "id",
      todayHighlight: true,
      endDate: '+12m',
      {{date_list}}
   });
   {% endwith %}
   {% endautoescape %}
   $('#datepicker').on('changeDate', function() {
       var date = $('#datepicker').datepicker('getFormattedDate');
       $('#input_date input').val(date);
       $("#panel_dates").toggleClass("show")
       $(".layer").toggleClass("layer-is-visible");
       get_price()
      $(".price-details").text('');
   });
   
   $('#input_date').on('change', function (ev) {
      get_price()
      $(".price-details").text('');
   
   });
   
   $(".choose-date").on("click", function() {
       let date = $(this).attr("date-value");
       $('#input_date input').val(date);
       $("#panel_dates").toggleClass("show")
       $(".layer").toggleClass("layer-is-visible");
       get_price()
      $(".price-details").text('');
   }); 
   
   $('.readonly').on('focus', function() {
       $(this).trigger('blur');
   });
   
   $(".see_dates").on("click", function() {
        $("#panel_dates").toggleClass("show")
        $(".layer").toggleClass("layer-is-visible")
        $('input[name="dates"]').focus();
   });
   
   $("#ChooseButton").on("click", function() {
      
      $("#ChooseButton").slideUp()     ;        
         $(".detail-information")
         .slideDown()
         .promise()
                 .done(function() {
                    this.find('#BookingButton').focus();
                    this.find('input[name=name]').focus();
                 });
   
   
   
   
   });
   
   const formBooking = document.getElementById('form-booking');
   formBooking.addEventListener('submit', performPostRequest);
   
   function performPostRequest(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'bookingexp' object.slug %}",
        data:  $("#form-booking").serialize(),
        beforeSend: function() {
            $(".price-details").html(RESP["loader"]);
        },
        success: function(data) {
            $(".price-details").text('');
            $("#panel_dates").hide()
            $(".layer").hide()
            $('#overlay').appendTo("body").modal('show');
            var seconds = document.getElementById("countdown").textContent;
            var countdown = setInterval(function() {
                seconds--;
                document.getElementById("countdown").textContent = seconds;
                if (seconds <= 0) {
                   clearInterval(countdown);
                   $('#overlay').modal('hide');
                       window.location.href = data; }
                    }, 600);
        },
        error: function(xhr) {
            alert("Error occured.please try again");
        }
    });
   }
</script>
{% endblock js %}