{% extends "base.html" %}
{% block title %} Bantuan - lokalx
{% endblock %}
{% block content %}
<style>
   .text-style {
   text-align: center;
   font-weight: 400;
   font-size: 18px;   
   line-height: 26px;
   letter-spacing: .21px;
   color: #484848;
   display: block;
   }
   .text-style2 {
   font-weight: 400;
   font-size: 16px;   
   line-height: 26px;
   letter-spacing: .21px;
   display: block;
   }
</style>
<main>
   <section class="hero_in general">
      <div class="wrapper">
         <div class="container">
            <h1 class="fadeInUp"><span></span>Bantuan</h1>
         </div>
      </div>
   </section>
   <!--/hero_in-->
   <div class="bg_color_1">
      <div class="container margin_80_55">
         <div class="main_title_2">
            <span><em></em></span>
            <h2>Pertanyaan yang Sering Diajukan</h2>
            <p></p>
         </div>
         <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <p class="text-style">
                  Konten ini berisi pertanyaan-pertanyaan yang sering di ajukan baik itu wisatawan maupun Pramuwisata lokal. 
               <p><em></em></p>
            </div>
            <div class="col-lg-1"></div>
         </div>
         <!--/row-->
      </div>
      <!--/container-->
   </div>
   <div class="bg_color_1">
    <div class="container margin_80_55">
       <div class="main_title_2">
          <span><em></em></span>
          <h3>Untuk Wisatawan</h3>
       </div>
       <div class="row ">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
                <div role="tablist" class="add_bottom_45 accordion_2" id="payment"></div>
             <div role="tablist" class="add_bottom_45 accordion_2" id="payment">
                {% for i in faq_wisatawan %}
                <div class="card">
                   <div class="card-header" role="tab">
                      <h5 class="mb-0">
                         <a data-toggle="collapse" href="#collapse{{i.id}}_faq" aria-expanded="true"><i class="indicator ti-minus"></i>
                          {{i.title}}</a>
                      </h5>
                   </div>
                   <div id="collapse{{i.id}}_faq" class="collapse {% if forloop.first %}show{% endif %}" role="tabpanel" data-parent="#payment">
                      <div class="card-body text-style2">
                        <p>
                           {{i.description|urlize|linebreaksbr}}
                        </p>
                      </div>
                   </div>
                </div>
                {% endfor %}

              </div>
             <!-- /accordion payment -->
             <!-- /row -->
             <p class="btn_home_align text-center"><a href="/" class="btn_1 rounded">Cari & Explore Pengalaman Sekarang!</a></p>
          </div>
          <div class="col-lg-1"></div>
       </div>
       <!--/row-->
    </div>
    <!--/container-->
 </div>
 <!--/bg_color_1-->

   <div class="bg_color_1">
      <div class="container margin_80_55">
         <div class="main_title_2">
            <span><em></em></span>
            <h3>Untuk Pramuwisata lokal</h3>
         </div>
         <div class="row ">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <div role="tablist" class="add_bottom_45 accordion_2" id="payment">
                  {% for i in faq_pramuwisata %}
                    <div class="card">
                            <div class="card-header" role="tab">
                               <h5 class="mb-0">
                                  <a data-toggle="collapse" href="#collapse{{i.id}}_payment" aria-expanded="true"><i class="indicator ti-minus"></i>
                                  {{i.title}}</a>
                               </h5>
                            </div>
                            <div id="collapse{{i.id}}_payment" class="collapse {% if forloop.first %}show{% endif %}" role="tabpanel" data-parent="#payment">
                               <div class="card-body text-style2">
                                  <p>
                                       {{i.description|urlize|linebreaksbr}}
                               </p>
                               </div>
                            </div>
                       </div>
                  {% endfor %}
                    
               </div>
               <!-- /accordion payment -->
               <!-- /row -->
               <p class="btn_home_align text-center"><a href="https://link.lokalx.id/join" class="btn_1 rounded">Bergabung Sekarang</a></p>
            </div>
            <div class="col-lg-1"></div>
         </div>
         <!--/row-->
      </div>
      <!--/container-->
   </div>
   <!--/bg_color_1-->
</main>
<!--/main-->
{% endblock content %}