{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
<style>
@media (min-width: 1200px) {
.container {
    max-width: 1320px;
}
}

.price-text {
   margin-left: 0px !important;
}

._13qcgpja {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    line-height: 1.33333em !important;
    color: rgb(118, 118, 118) !important;
    text-transform: uppercase !important;
    text-overflow: ellipsis !important;
    max-width: 100% !important;
    white-space: nowrap !important;
    margin: 0px !important;
    overflow: hidden !important;
}

._fgby1rh {
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.28571em !important;
    color: inherit !important;
    text-overflow: ellipsis !important;
    max-height: 3.85714em !important;
    -webkit-line-clamp: 3 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    margin: 0px !important;
    overflow: hidden !important;
}
</style>
{% endblock %}
{% block content %}
<section class="slider">
   <div id="slider" class="flexslider">
      <ul class="slides">
         <li>
            {% thumbnail city.photo "1475x800" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <div class="meta">
               <h3>{% trans 'Find experiences in' %} {{city.name}}</h3>
               <div class="info">
                  <p style="font-size:20px">{% trans 'Enjoy life like a local. Discover new things and create unforgettable, precious memories with us.' %}</p>
               </div>
               <a href="/search?city={{city.slug}}" class="learn">{% trans 'Learn more' %} ></a>
            </div>
         </li>
      </ul>
      <div id="icon_drag_mobile"></div>
   </div>
   
</section>
<div class="container container-custom margin_80_0">
   <div class="main_title_3">
      <span><em></em></span>
      <h2>{% trans 'Experiences for every interest' %}</h2>
      <p>{% trans 'One-of-a-kind activities hosted by locals' %}</p>
   </div>
   <div id="reccomended" class="owl-carousel owl-theme">
      {% for i in cat %}
      <div class="item">
         <div class="box_grid">
            <figure>
               <a href="/search?query=&category={{i.slug}}">
                  {% thumbnail i.photo "400x312" crop="center" as im %}
                  <img src="{{ im.url }}" class="img-fluid" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                  <div class="read_more"><span>{% trans 'Learn more' %}</span></div>
               </a>
            </figure>
            <div class="wrapper">
               <h3><a href="/search?query=&category={{i.slug}}">{{i.name}}</a></h3>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   <!-- /carousel -->
</div>
<div class="container container-custom margin_80_0">
   <div class="banner" style=" margin-left: 0;">
      <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)">
         <div>
            <small>lokalx</small>
            <h3>{% trans 'Your Perfect<br>Adventure Experience' %}</h3>
            <p> {% trans 'Unforgettable activities in hard-to-find places' %}</p>
            <a href="/bantuan" class="learn">{% trans 'Learn more' %} ></a>
         </div>
      </div>
      <!-- /wrapper -->
   </div>
</div>
<!-- /banner -->
<!--/hero_in-->
<div class="container container-custom margin_80_0">
   <!-- /custom-search-input-2 -->
   <div class="row postwrapper">
      {% for i in objects %}
      <div class="col-xl-3 col-lg-6 col-md-6 isotope-item popular">
         <div class="box_grid">
            <figure class="">
               <a href="{{i.get_absolute_url}}">
                  {% thumbnail i.photo "800x533" crop="center" as im %}
                  <img src="{{ im.url }}" class="img-fluid img-exp" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                  <div class="read_more"><span>{% trans 'Read more' %}</span></div>
               </a>
               <small>{{i.get_category}} </small>
            </figure>
            <div class="wrapper">
               <div class="_13qcgpja" title="{{i.city.name}} · {{i.city.state.name}}">{{i.city.name}} · {{i.city.state.name}}</div>
               <h3 class="_1s5t6bf8"><b><a href="{{i.get_absolute_url}}">{{i.title}}</a></b></h3>
               <span class="_fgby1rh price-text">{% trans 'From' %} IDR {{i.get_price}}/{% trans 'person' %} · {{i.get_duration}}</span>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   <!-- /isotope-wrapper -->
   <div class="loadmoreajaxloader" style="display:none;">
      <p class="text-center">
         <img src="/static/AjaxLoader.gif" alt="Ajax Loader"/>
      </p>
   </div>
   <div id="hsbutn">
      <p class="text-left">
         <a href="/search" class="_l3bsjs" id="historyBtn">{% trans 'Show all adventures' %} ></a> 
      </p>
   </div>
</div>
<div class="bg_color_1">
   <div class="container margin_60_35">
      <div class="main_title_3">
         <span><em></em></span>
         <h2>Network Kami</h2>
      </div>
      <div class="row">
         <div class="col-md-4">
            <a href="https://etnis.id" class="boxed_list">
               <img src="/static/img/etnis.jpg" width="200"/>
               <h4>Etnis.id</h4>
               <p>Warta Identitas Bangsa</p>
            </a>
         </div>
         <div class="col-md-4">
            <a href="https://www.facebook.com/banjarsweetvillage/" class="boxed_list">
               <img src="/static/img/banjar.png" width="182"/>
               <h4>Banjar Sweet Village</h4>
               <p>Desa Banjar Banyuwangi</p>
            </a>
         </div>
      </div>
      <!-- /row -->
   </div>
   <!-- /container -->
</div>
<!-- /
<div class="bg_color_1">
   <div class="container container-custom margin_80_0">
      <div class="main_title_3">
         <span><em></em></span>
         <h2>{% trans 'Watch our favorite experience' %}</h2>
         <p>{% trans 'Choosen by guests' %}</p>
      </div>
      <div class="grid">
         <ul class="magnific-gallery">
            <li>
               <figure>
                  <img src="/static/img/gallery/large/pic_4.jpg" alt="">
                  <figcaption>
                     <div class="caption-content">
                        <a href="https://vimeo.com/45830194" class="video" title="Video Vimeo">
                           <i class="pe-7s-film"></i>
                           <p>Your caption</p>
                        </a>
                     </div>
                  </figcaption>
               </figure>
            </li>
            <li>
               <figure>
                  <img src="/static/img/gallery/large/pic_5.jpg" alt="">
                  <figcaption>
                     <div class="caption-content">
                        <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video" title="Video Youtube">
                           <i class="pe-7s-film"></i>
                           <p>Your caption</p>
                        </a>
                     </div>
                  </figcaption>
               </figure>
            </li>
            <li>
               <figure>
                  <img src="/static/img/gallery/large/pic_3.jpg" alt="">
                  <figcaption>
                     <div class="caption-content">
                        <a href="https://vimeo.com/45830194" class="video" title="Video Vimeo">
                           <i class="pe-7s-film"></i>
                           <p>Your caption</p>
                        </a>
                     </div>
                  </figcaption>
               </figure>
            </li>
            <li>
               <figure>
                  <img src="/static/img/gallery/large/pic_3.jpg" alt="">
                  <figcaption>
                     <div class="caption-content">
                        <a href="https://vimeo.com/45830194" class="video" title="Video Vimeo">
                           <i class="pe-7s-film"></i>
                           <p>Your caption</p>
                        </a>
                     </div>
                  </figcaption>
               </figure>
            </li>
         </ul>
      </div>
   </div>
</div>
   <div class="call_section">
      <div class="container clearfix">
         <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
            <div class="block-reveal">
               <div class="block-vertical"></div>
               <div class="box_1">
                  <h3>Nikmati Pengalaman berharga dan berkesan bersama kami</h3>
                  <p>Pelajari dan rasakan langsung berbagai budaya dan kearifan lokal yang kaya dan penuh warna di Indonesia dengan perjalanan tak terlupakan yang ditawarkan oleh komunitas lokal kami. Bersama dengan mereka, kami akan memastikan untuk memberikan pengalaman terbaik kepada anda dan manfaat yang luar biasa kembali kepada masyarakat setempat.</p>
                  <a href="/about" class="learn rounded">Baca Selanjutnya</a>
               </div>
            </div>
         </div>
      </div>
   </div>
    -->
<!--/call_section-->
{% endblock content %}
{% block js %}
<!-- Map -->
<!-- Masonry Filtering -->
<script src="{% static 'js/isotope.min.js' %}"></script>
<!-- FlexSlider -->
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<script>
   $(window).load(function() {
   	'use strict';
   	$('#carousel_slider').flexslider({
   		animation: "slide",
   		controlNav: false,
   		animationLoop: false,
   		slideshow: false,
   		itemWidth: 280,
   		itemMargin: 25,
   		asNavFor: '#slider'
   	});
   	$('#carousel_slider ul.slides li').on('mouseover', function() {
   		$(this).trigger('click');
   	});
   	$('#slider').flexslider({
   		animation: "fade",
   		controlNav: false,
   		animationLoop: false,
   		slideshow: false,
   		sync: "#carousel_slider",
   		start: function(slider) {
   			$('body').removeClass('loading');
   		}
      });
     // $('#slider').flexslider(1);
   });
</script>

{% endblock js %}
