{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="We offer a deep-dive into the local host&rsquo;s world through local passion. Hosts offer their guests special knowledge, unique skills, and inside access to local places and communities, creating lasting connections and treasured memories.">
      <meta name="author" content="lokalx">
      <title>Invoice booking nomor ID # 00{{object.id}} </title>
      <meta property="og:image:width" content="1190">
      <meta property="og:image:height" content="623">
      <meta property="og:title" content="Invoice booking nomor ID # 00{{object.id}}">
      <meta property="og:description" content="We offer a deep-dive into the local host&rsquo;s world through local passion. Hosts offer their guests special knowledge, unique skills, and inside access to local places and communities, creating lasting connections and treasured memories.">
      <meta property="og:url" content="https://lokalx.id/">
      <meta property="og:image" content="https://lokalx.id/static/social/og-image.jpg">
      <!-- Favicons-->
      <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
      <link rel="manifest" href="/static/icons/site.webmanifest">
      <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="/static/icons/favicon.ico">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <!-- BASE CSS -->
      {% block stylesheets %}
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      {% endblock %}
      <!-- YOUR CUSTOM CSS -->
      <link href="{% static 'css/custom.css' %}" rel="stylesheet">
      <style>
         .invoice-title h2, .invoice-title h3 {
         display: inline-block;
         }
         .table > tbody > tr > .no-line {
         border-top: none;
         }
         .table > thead > tr > .no-line {
         border-bottom: none;
         }
         .table > tbody > tr > .thick-line {
         border-top: 2px solid;
         }
      </style>
   </head>
   <body>
      <div class="container" id="contentx">
         <div class="row">
            <div class="col-12">
               <div class="invoice-title add_top_30">
                  <h2>Booking</h2>
                  <h3 class="float-right">NOMOR ID # 00{{object.id}}</h3>
               </div>
               <hr>
               <div class="row">
                  <div class="col-6">
                     <address>
                        <strong>Tagihan Untuk:</strong><br>
                        {{object.name}}<br>
                        {{object.contact}}<br>
                        {{object.email}}<br><br>
                        <strong>Metode pembayaran:</strong><br>
                        Transfer Bank Mandiri <br>
                        1430012362149 <br>
                        Atas Nama Ganang Triatma Indrianto
                        <br><br>

                     </address>
                  </div>
                  <div class="col-6 text-right">
                     <address>
                        <strong>Status Pembayaran:</strong><br>
                        {% if object.status %}
                        <h3><span class="badge badge-success">LUNAS</span></h3><br>
                        {% else %}
                        <h3><span class="badge badge-danger">BELUM DI BAYAR</span></h3><br>
                        
                        {% endif %}
                        <strong>Tanggal Pemesanan:</strong><br>
                        {% language 'id' %}{{object.created|date:"l, d F Y"}}<br><br> {% endlanguage %}
                         
                    </address>
                  </div>
               </div>
               <div class="row">
                  <div class="col-6">
                     <address>
                        <strong>Bantuan:</strong><br>
                        <a href="https://api.whatsapp.com/send?phone=6282285433767&text=Halo%20Saya%20Butuh%20Bantuan%20Anda">+62822-8543-3767</a> (Whatsapp atau Telefon)<br>
                        <a href="mailto:payment@lokalx.id">payment@lokalx.id</a>
                     </address>
                  </div>
                  <div class="col-6 text-right">
                        <address>
                           <strong>Tanggal Experience:</strong><br>
                           {% language 'id' %}{{object.dates|date:"l, d F Y"}}<br><br> {% endlanguage %}
                        </address>
                     </div>
   
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="add_top_15">
                  <h3><strong>Ringkasan pesanan</strong></h3>
                  <div class="table-responsive">
                     <table class="table table-condensed">
                        <thead>
                           <tr>
                              <td><strong>Experience</strong></td>
                              <td class="text-center"><strong>Harga</strong></td>
                              <td class="text-center"><strong>Jumlah</strong></td>
                              <td class="text-right"><strong>Total</strong></td>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>{{object.tour.title}}</td>
                              <td class="text-center">Rp {{object.price_idlang}}</td>
                              <td class="text-center">{{object.guest}} Orang</td>
                              <td class="text-right">Rp {{object.totalpguest}}</td>
                           </tr>
                           <tr>
                              <td>Fee Untuk lokalx.id</td>
                              <td class="text-center"></td>
                              <td class="text-center">Rp {{object.totalpguest}} x 5%</td>
                              <td class="text-right">Rp {{object.totalpfee}}</td>
                           </tr>
                           <tr>
                              <td class="thick-line"></td>
                              <td class="thick-line"></td>
                              <td class="thick-line text-center"><strong>Total</strong></td>
                              <td class="thick-line text-right">Rp {{object.totalpall}}</td>
                           </tr>
                           <tr>
                              <td class="no-line"></td>
                              <td class="no-line"></td>
                              <td class="no-line text-center" style="color:white;" bgcolor="#dc3545"><strong>Yang Harus Di Bayar Transfer</strong></td>
                              <td class="no-line text-right" style="color:white;" bgcolor="#dc3545">Rp {{object.totalpfee}}</td>
                           </tr>
                           <tr>
                              <td class="no-line"></td>
                              <td class="no-line"></td>
                              <td class="no-line text-center"><strong>Di Bayar Ke Lokal Nanti</strong></td>
                              <td class="no-line text-right">Rp {{object.totalpguest}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">

               <hr>
               <div class="row">
                  <div class="col-12">
                     <address>
                        <strong>Catatan</strong><br>
                        <b>Setelah Transfer:</b> Hubungi kami jika ingin melakukan konfirmasi di whatsapp atau telefon <a href="https://api.whatsapp.com/send?phone=6282285433767&text=Halo%20Saya%20Butuh%20Bantuan%20Anda">+62822-8543-3767</a>
                        atau melalui email <a href="mailto:payment@lokalx.id">payment@lokalx.id</a>
<br>
                        <br>
                        <b>Yang Harus Di Bayar Transfer:</b> <br>Ini berarti Anda harus mentransfer segera sebagai tanda bukti bahwa Anda benar ingin mengikuti experience ini. 
                        <br>
                        <br><b>Di Bayar Ke Lokal Nanti:</b><br> Ini berarti Anda dapat membayar Jumlah langsung ke lokal nanti pada hari dimana Anda bertemu lokal secara langsung. 
                        
                     </address>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <p class="text-center">
            <button class="btn_1 rounded add_top_30" onclick="window.print();">Print</button>
            &nbsp;<button class="btn_1 rounded add_top_30" id="cmd">Simpan PDF</button> 

         </p>
         <br><br><br><br><br>
   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>   
   <script>
      document.getElementById("cmd").onclick = function(){
         var opt = {
  filename:     'Booking-00{{object.id}}-LK.pdf',
  image:        { type: 'png', quality: 0.99 },
  pagebreak: { mode: ['avoid-all', 'css', 'legacy'] }

};
            let element = document.getElementById('contentx');
            var worker = html2pdf().set(opt).from(element).save();
            
      }
   </script>
</html>

