{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Bergabung Menjadi pramuwisata - lokalx.id
{% endblock %}
{% block content %}
<style>
   .text-style {
   text-align: center;
   font-weight: 400;
   font-size: 18px;   
   line-height: 26px;
   letter-spacing: .21px;
   color: #484848;
   display: block;
   }
   .text-style2 {
   font-weight: 400;
   font-size: 16px;   
   line-height: 26px;
   letter-spacing: .21px;
   display: block;
   }
</style>
<main>
   <section class="hero_in general">
      <div class="wrapper">
         <div class="container">
            <h1 class="fadeInUp"><span></span>Bergabung menjadi Pramuwisata Lokal</h1>
         </div>
      </div>
   </section>
   <!--/hero_in-->
   <div class="bg_color_1">
      <div class="container margin_80_55">
         <div class="main_title_2">
            <span><em></em></span>
            <h2>Terima Kasih</h2>
            <p></p>
         </div>
         <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <p class="text-style">
                  Jadilah pramuwisata lokal dan ajak wisatawan untuk menjelajahi dan menyelami dunia Anda ataupun budaya dan kearifan lokal di daerah Anda. berbagi bersama mereka tentang budaya, minat, pengetahuan, serta keahlian Anda. Karena keistimewaan tersebutlah yang akan menciptakan kenangan berharga dan tak terlupakan bersama. 
               <p><em></em></p>
            </div>
            <div class="col-lg-1"></div>
         </div>
         <!--/row-->
      </div>
      <!--/container-->
   </div>
   <!--/bg_color_1-->
   <div class="bg_color_1">
      <div class="container margin_80_55">
         <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <div class="col-lg-12">
                  <a class="box_news" href="#0">
                     <figure><img src="/static/img/gallery/joinhost/berbagihobi.jpg" alt="">
                     </figure>
                     <h3>Berbagi hobi, keahlian atau aktivitas yang Anda cintai</h3>
                     <p class="text-style2">Kebahagian dapat kita temukan saat kita berbagi. Bersama kami, Anda dapat mengajak wisatawan dan memperkenalkan mereka aktivitas dan tempat yang paling Anda sukai. 
                        Kami akan membantu Anda merancang Aktivitas selangkah demi selangkah, dengan sumber daya yang kami miliki.
                     </p>
                  </a>
               </div>
               <!-- /box_news -->
               <div class="col-lg-12">
                  <a class="box_news" href="#0">
                     <figure><img src="/static/img/gallery/joinhost/bertemutemanbaru.jpg" alt="">
                     </figure>
                     <h3>Bertemu orang-orang hebat</h3>
                     <p class="text-style2">Terhubung dengan wisatawan dari berbagai daerah dan jalin pertemanan baru bersama mereka serta saling berbagi cerita, minat, pengalaman dan hal-hal baru bersama mereka. Banyaknya kenalan baru juga membuka peluang untuk berkolaborasi berbagai hal bersama.</p>
                  </a>
               </div>
               <!-- /box_news -->
               <div class="col-lg-12">
                  <a class="box_news" href="#0">
                     <figure><img src="/static/img/gallery/joinhost/penghasilantambahan.jpg" alt="">
                     </figure>
                     <h3>Dapatkan penghasilan tambahan</h3>
                     <p class="text-style2">Ubah minat, hobi atau passion Anda menjadi pekerjaan paruh waktu atau bahkan bisnis penuh waktu.
                        Anda bebas menetapkan jadwal untuk aktivitas yang Anda tawarkan sesuai dengan waktu yang Anda inginkan, apakah Anda ingin menghosting harian, mingguan, atau bulanan tidak ada masalah. Juga Anda bebas menentukan harga dan jumlah maksimal grup yang bisa berpartisipasi dalam aktivitas Anda, dan kelola semua detail tentang Aktivitas Anda bersama team kami.
                     </p>
                  </a>
               </div>
            </div>
            <div class="col-lg-1"></div>
         </div>
      </div>
      <!-- /container -->
   </div>
   <!-- /bg_color_1 -->
   <div class="bg_color_1">
      <div class="container margin_60_35">
         <div class="main_title_2">
            <span><em></em></span>
            <h3>Proses yang sangat mudah untuk bergabung menjadi pramuwisata lokal</h3>
            <p></p>
         </div>
         <div class="row">
            <div class="col-md-4">
               <a href="#0" class="boxed_list">
                  <i class="pe-7s-note2"></i>
                  <h4>Isi Form Pendaftaran & Ajukan</h4>
                  <p>Klik tombol bergabung serta isi form pendaftaran. dan setelah selesai klik tombol submit untuk mengajukan.
                  </p>
               </a>
            </div>
            <div class="col-md-4">
               <a href="#0" class="boxed_list">
                  <i class="pe-7s-search"></i>
                  <h4>Review</h4>
                  <p>Kami akan meninjau form pendaftaraan yang Anda ajukan dan kami akan segera menghubungi Anda.</p>
               </a>
            </div>
            <div class="col-md-4">
               <a href="#0" class="boxed_list">
                  <i class="pe-7s-like"></i>
                  <h4>Selamat Bergabung</h4>
                  <p>Setelah proses review selesai kami akan segera memposting aktivitas Anda. dan wisatawanpun dapat melakukan pemesanan.</p>
               </a>
            </div>
         </div>
         <!-- /row -->
      </div>
      <!-- /container -->
   </div>
   <!-- /bg_color_1 -->
   <div class="bg_color_1">
      <div class="container margin_80_55">
         <div class="main_title_2">
            <span><em></em></span>
            <h2>Pertanyaan yang Sering Diajukan</h2>
            <p></p>
         </div>
         <div class="row ">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <div role="tablist" class="add_bottom_45 accordion_2" id="payment">
                  {% for i in faq_pramuwisata %}
                    <div class="card">
                            <div class="card-header" role="tab">
                               <h5 class="mb-0">
                                  <a data-toggle="collapse" href="#collapse{{i.id}}_payment" aria-expanded="true"><i class="indicator ti-minus"></i>
                                  {{i.title}}</a>
                               </h5>
                            </div>
                            <div id="collapse{{i.id}}_payment" class="collapse {% if forloop.first %}show{% endif %}" role="tabpanel" data-parent="#payment">
                               <div class="card-body text-style2">
                                  <p>
                                       {{i.description|urlize|linebreaksbr}}
                               </p>
                               </div>
                            </div>
                       </div>
                  {% endfor %}
                    
               </div>
               <!-- /accordion payment -->
               <!-- /row -->
               <p class="btn_home_align text-center"><a href="https://link.lokalx.id/join" class="btn_1 rounded">Bergabung Sekarang</a></p>
            </div>
            <div class="col-lg-1"></div>
         </div>
         <!--/row-->
      </div>
      <!--/container-->
   </div>
   <!--/bg_color_1-->
</main>
<!--/main-->
{% endblock content %}
