{% load thumbnail %}
{% load i18n %}
{% if page_objects %}
{% for i in page_objects %}
<div class="col-xl-3 col-lg-6 col-md-6 isotope-item popular">
   <div class="box_grid">
      <figure class="">
         <a href="{{i.get_absolute_url}}">
            <img src="{{i.photo_thumb.url}}" class="img-fluid img-exp" alt="" width="800" height="533">
            <div class="read_more"><span>{% trans 'Read more' %}</span></div>
         </a>
         <small>{{i.get_category}} </small>
      </figure>
      <div class="wrapper">
         <div class="_13qcgpja" title="{{i.city.name}} · {{i.city.state.name}}">{{i.city.name}} · {{i.city.state.name}}</div>
         <h3 class="_1s5t6bf8"><b><a href="{{i.get_absolute_url}}">{{i.title}}</a></b></h3>
         <span class="_fgby1rh price-text">{% trans 'From' %} IDR {{i.get_price}}/{% trans 'person' %} · {{i.get_duration}}</span>
      </div>
   </div>
</div>
{% endfor %}
{% endif %}
