{% load i18n %}
<div class="alert alert-info" role="alert">
   Maaf aktivitas pada tanggal ini tidak tersedia.
</div>
<div class="text-center">Silahkan pilih tanggal lainnya atau Hubungi kami melalui</div>
<a target="_blank" href="https://api.whatsapp.com/send?phone=6282285433767&text=Halo%2C%20Saya%20ingin%20menanyakan%20tentang%20experience%20%22{{slug|urlencode}}%22%0A%0ATerima%20Kasih" class="btn_1 full-width outline wishlist"><i class=" icon-phone-circled"></i>Whatsapp</a>

<script>
    $("#ChooseButton").hide()
    
</script>
