<div class="form-group" id="input_date">
        <input class="form-control readonly" type="text" name="dates" placeholder="Kapan.." autocomplete="off">
        <i class="icon_calendar"></i>
     </div>
     <div class="panel-dropdown">
        <a href="#">Jumlah Orang<span class="qtyTotal">1</span></a>
        <div class="panel-dropdown-content right">
           <div class="qtyButtons">
              <label> Tamu</label>
              <input type="text" name="qtyInput" value="1">
           </div>
        </div>
     </div>

     <script src="/static/js/input_qty.js"></script>
     <script src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>
$("#price_text").text({{object.price}});
$.fn.datepicker.dates['id'] = {
   		days: ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"],
   		daysShort: ["Mgu", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"],
   		daysMin: ["Mgu", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"],
   		months: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],
   		monthsShort: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Ags", "Sep", "Okt", "Nov", "Des"],
   		today: "Hari Ini",
   		clear: "Kosongkan"
   	};
   
   $('#input_date input').datepicker({
       format: "dd-mm-yyyy",
       clearBtn: true,
       startView: 1,
       autoclose: true,
       todayHighlight: true,
       orientation: "bottom left",
       startDate: new Date(),
       language: "id",
       endDate: '+12m',
       container: '#panel_dates',
       {% autoescape off %}{{object.get_availability}} {% endautoescape %}
   });
   //$("#input_date input").val(moment().format("DD-MM-YYYY"))
   
</script>