{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Kebijakan Privasi - lokalx
{% endblock %}
{% block content %}
<style>
   .text-style {
   text-align: center;
   font-weight: 400;
   font-size: 18px;   
   line-height: 26px;
   letter-spacing: .21px;
   color: #484848;
   display: block;
   }
   .text-style2 {
   font-weight: 400;
   font-size: 16px;   
   line-height: 26px;
   letter-spacing: .21px;
   display: block;
   }
</style>
<main>
   <section class="hero_in general">
      <div class="wrapper">
         <div class="container">
            <h1 class="fadeInUp"><span></span>Kebijakan Privasi</h1>
         </div>
      </div>
   </section>
   <!--/hero_in-->
   <div class="bg_color_1">
      <div class="container margin_80_55">

         <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <p class="text-style">
                Privasi Anda penting bagi kami. Kami menghargai kepercayaan Anda dan berkomitmen untuk melindungi setiap informasi pribadi yang Anda berikan kepada kami. Dokumen ini, yang kami update dari waktu ke waktu, menjelaskan bagaimana kami menggunakan dan memproses data pribadi Anda. Ini juga memberitahu Anda bagaimana Anda dapat menghubungi kami jika Anda memiliki pertanyaan tentang informasi pribadi Anda.

                lokalx menyediakan layanan perjalanan online melalui situs web dan melalui platform online lainnya seperti situs web mitra dan media sosial. 
                <br><br>Privasi ini berlaku setiap saat ketika menggunakan situs web dan layanan kami. Setiap fitur dan / atau layanan baru yang ditambahkan ke layanan kami saat ini pada titik mana pun di masa mendatang juga harus tunduk pada Kebijakan Privasi ini.
                
               <p><em></em></p>
            </div>
            <div class="col-lg-1"></div>
         </div>
         <!--/row-->
      </div>
      <!--/container-->
   </div>
   <!--/bg_color_1-->
   <div class="bg_color_1">
      <div class="container margin_80_55">
         <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
               <div class="col-lg-12">
                     <h3>1. Pengumpulan informasi</h3>
                     <p class="text-style2">lokalx mengumpulkan Informasi Pribadi dan Informasi Anonim untuk membuat akun Anda, memenuhi permintaan Anda, meningkatkan situs dan layanan kami, menghubungi Anda, melakukan penelitian, atau membuat laporan untuk penggunaan internal.</p>
                     <h4>1.1 Informasi Anonim</h4>
                     <p class="text-style2">
                        Ketika Anda berinteraksi dengan lokalx melalui situs web kami, kami secara otomatis menerima informasi tertentu dari anonim seperti misalnya alamat IP browser Anda, halaman yang telah Anda kunjungi di situs web kami atau situs web lainnya, waktu yang Anda habiskan di setiap halaman dan frekuensi kunjungan Anda. Informasi ini tidak dapat digunakan untuk mengidentifikasi Anda secara khusus.

lokalx dapat menyimpan informasi itu sendiri atau informasi tersebut dapat dimasukkan dalam basis data yang dimiliki dan dikelola oleh afiliasi, agen atau penyedia layanan lokalx. Situs web ini dapat menggunakan informasi tersebut dan mengumpulkannya dengan informasi lain untuk melakukan analisis tertentu.
                     </p>
                     <h4>1.2 Informasi Pendaftaran</h4>
                     <p class="text-style2">
                        Ketika Anda mendaftarkan diri Anda, Anda akan diminta untuk memberikan informasi pribadi yang dapat mengidentifikasi Anda. Ini bisa menjadi nama Anda, nomor telepon, alamat dan alamat email. Kami menggunakan data pribadi yang Anda berikan dengan baik dan konsisten dengan kebijakan privasi ini. Jika Anda memberikan data pribadi untuk alasan tertentu, kami dapat menggunakan data pribadi sehubungan dengan alasan yang disediakan.
</p>

                     <h4>1.3 Informasi Pelacakan</h4>
                     <p class="text-style2">
                        Situs web kami menggunakan teknologi 'cookie'. Cookie adalah beberapa teks informasi yang disimpan oleh browser di komputer Anda atas permintaan server kami. Anda dapat menghapus cookie kapan saja. Kami dapat menggunakan cookie untuk menyampaikan konten khusus untuk minat Anda dan / atau untuk menyimpan preferensi pribadi Anda sehingga Anda tidak perlu memasukkannya kembali setiap kali Anda terhubung ke situs web - cookie kami tidak tersedia untuk situs web lain.
<br><br>
                        Cookie juga membantu kami lebih memahami bagaimana Anda berinteraksi dengan situs web sehingga kami dapat meningkatkan layanan kami kepada Anda.
                        <br><br>                
                        Kami menggunakan Google Analytics, Tool analitik yang memberikan kami informasi tentang jenis pengunjung situs web dan perilaku mereka di situs web. Dengan informasi ini kami dapat meningkatkan kegunaan dari situs web kami. Google Analytics memanfaatkan teknologi cookie. Namun demikian kami telah melakukan beberapa pengukuran untuk melindungi privasi Anda:
                        <br><br>
                        Kami telah menandatangani amandemen pemrosesan data dengan Google bahwa mereka hanya diizinkan bertindak sebagai mediator untuk menyediakan layanan mereka dan tidak menggunakan informasi apa pun yang kami kumpulkan melalui Google Analytics tentang pengunjung kami.
                        Kami telah menyembunyikan oktet dari alamat akhir IP Anda dan memilih untuk tidak membagikan data apa pun dengan Google.
                        Kami tidak menggunakan layanan Google lainnya yang dikombinasikan dengan cookie Google Analytics.
                        <br><br>
                        Tool kedua yang kami gunakan adalah HotJar, Tool pelacakan dan analitik yang akan membantu kami meningkatkan layanan dan pengalaman pengguna situs web kami. Hotjar memungkinkan Anda untuk menyuarakan pendapat Anda dan menilai kegunaan situs web kami. Ini juga menganalisis perilaku pengguna secara instan dengan merekam gerakan mouse, scroll, klik, dan menekan tombol di situs web kami. Data ini dapat meningkatkan kegunaan dari situs web kami juga. Tool ini menggunakan teknologi cookie. Anda dapat memilih keluar dari cookie kapan saja dengan mengubah pengaturan pada browser Anda. Jika Anda tidak menyetujui penggunaan cookie, Anda mungkin tidak dapat mengakses atau memanfaatkan semua fungsi situs web.
                        

                    </p>

                     <h4>1.4 Informasi Kontak</h4>
                     <p class="text-style2">
                        Jika Anda menghubungi kami melalui situs web kami, berlangganan buletin kami atau membuat akun. lokalx bisa menggunakan informasi ini untuk menghubungi Anda dengan informasi yang mungkin menarik bagi Anda. Jika kami melakukannya, setiap komunikasi yang kami kirimkan kepada Anda akan berisi instruksi yang memungkinkan Anda untuk "memilih keluar atau berhenti" untuk menerima informasi atau komunikasi di masa mendatang.

Anda berhak mengubah, memodifikasi, atau menghapus data pribadi Anda kapan saja. Anda dapat melakukannya di situs web melalui profil Anda.

                     </p>

                     <h3>2. Penyimpanan informasi Anda</h3>
                     <p class="text-style2">
                        Informasi Anda dapat ditransfer ke dan jaga  di komputer dan server yang berlokasi di luar negara tempat tinggal Anda. Dengan menggunakan situs web dan mengirimkan informasi Anda, Anda setuju bahwa informasi Anda dapat ditransfer, disimpan, dan diproses di sana.

                     </p>

                     <h3>3. Situs web dan layanan lain</h3>
                     <p class="text-style2">
                        Kebijakan privasi ini tidak berlaku untuk informasi yang Anda berikan langsung ke lokal.

Selain itu situs web kami berisi tautan ke situs web lain. Jika Anda mengklik tautan Anda akan diarahkan ke situs web itu ("situs web pihak ketiga"). Ini adalah situs web yang tidak dioperasikan atau dikontrol oleh lokalx. Kebijakan privasi kami tidak berlaku untuk situs web pihak ketiga tetapi akan diatur oleh kebijakan privasi mereka. Kami menyarankan untuk membiasakan diri dengan kebijakan dan prosedur dari situs web pihak ketiga tersebut.

Fakta yang kami tautkan ke situs web pihak ketiga tidak menyiratkan bahwa kami mendukung atau telah meninjau situs web itu.

                     </p>
                     <h3>4. Keamanan</h3>
                     <p class="text-style2">
                        lokalx sangat peduli dengan menjaga informasi Anda. Kami mengambil beberapa tindakan pencegahan untuk melindungi informasi Anda dari kehilangan, penyalahgunaan, dan akses tidak sah, pengungkapan, perubahan, atau penghancuran.
<br><br>
Ketika Anda memasukkan informasi sensitif (seperti nomor kartu kredit Anda) pada formulir pesanan kami, kami mengenkripsi informasi itu menggunakan teknologi secure socket layer (SSL). Ini menjaga informasi Anda tetap aman saat ditransfer melalui internet. Namun, tidak ada Internet, email, atau transmisi elektronik lainnya yang sepenuhnya aman atau bebas kesalahan. Karena itu Anda disarankan untuk tidak membagikan data sensitif secara publik.

                     </p>
                     <h3>5. Perubahan kebijakan privasi ini</h3>
                     <p class="text-style2">
                        Situs web dan bisnis kami dapat berubah dari waktu ke waktu. Akibatnya, terkadang kami perlu melakukan perubahan pada kebijakan privasi ini. lokalx berhak untuk memperbaiki atau memodifikasi kebijakan privasi ini kapan saja tanpa pemberitahuan sebelumnya. Disarankan untuk memeriksa kebijakan privasi ini dari waktu ke waktu.
                     </p>
                     <h3>6. Pertanyaan atau Saran lainnya</h3>
                     <p class="text-style2">
                        Harap hubungi saya di <a href="mailto:contact@lokalx.id">contact@lokalx.id</a> untuk melaporkan pelanggaran apa pun terhadap syarat & ketentuan ini atau jika Anda memiliki pertanyaan tentang syarat & ketentuan ini atau situs web.
                    </p>
                     
                </div>



            </div>
            <div class="col-lg-1"></div>
         </div>
      </div>
      <!-- /container -->
   </div>

</main>
<!--/main-->
{% endblock content %}