{% load i18n %}
<body>
<div class="form-group">
   {% if sharing %}
   <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exp_type" id="inlineRadio2" value="private" checked>
      <label class="form-check-label" for="inlineRadio2">Private</label>
   </div>
   <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exp_type" id="inlineRadio1" value="sharing">
      <label class="form-check-label" for="inlineRadio1">Sharing</label>
   </div>
   {% endif %}
</div>

<div class="alert alert-info" role="alert">
    <strong>Private:</strong> tidak akan ada tambahan peserta lain yang mengikuti pengalaman ini. <br> <br>
    <strong>Detail Harga</strong> <br>
                       {% language 'id' %}
                       {{date|date:"l, d F Y"}}&nbsp;&nbsp;&nbsp;{{obj.start_time|time:"H:i A"}} − {{obj.end_time|time:"H:i A"}}
                       {% endlanguage %}
                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-8">
                              <strong>Anda memesan untuk</strong>
                           </div>
                           <div class="col-lg-4">
                              {{guest}} Orang<br>
                           </div>
                        </div>
                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-7">
                              Rp {{price}} x {{guest}} Tamu<br>
                           </div>
                           <div class="col-lg-5">
                            Rp {{price_per}}<br>
                           </div>
                        </div>
                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-7">
                              Fee untuk Lokalx.id<br>
                           </div>
                           <div class="col-lg-5">
                              Rp {{percentage}}<br>
                           </div>
                        </div>

                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-7">
                              <strong>Total</strong>
                           </div>
                           <div class="col-lg-5">
                            <strong style="color: #00937A;">Rp {{pricetotal}}</strong><br>
                           </div>
                        </div><br>
</div>
</body>
<script>
$('#price_text').html("{{price}}");
</script>
