{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block css %}
<style>
@media (min-width: 1200px) {
.container {
    max-width: 1320px;
}
}

a.btn_category {
    margin-bottom: 5px;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background: none !important;
    border: 1px solid #dce0e0 !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    display: inline-block !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
}

a.btn_category:before {
    display: inline-block;
    margin-right: 5px;
}

.margin_50_0 {
    padding-top: 40px;
}

</style>
{% endblock %}
{% block content %}
<div style="height: 85px;"></div>
<div class="filters_listing">
   <div class="container">
      <ul class="clearfix">
         <li>
           {% for i in cat %}
           <a class="btn_category" href="/search?query={% if keyword and city %}{{keyword}}&city={{city}}{% else %}{% if city %}&city={{city}}{% endif %}{% endif %}&category={{i.slug}}">{{i.name}}</a>
           {% endfor %}
          </li>
      </ul>
   </div>
   <!-- /container -->
</div>
{% if counting == 0 %}
<div class="container container-custom margin_50_0">
      <div class="col-lg-12">
         <p class="lead" style="font-size:20px">Tidak ditemukan pencarian dengan kata kunci <i><b>{{keyword}}</b></i>{% if category %} dan kategori <i><b>{{category}}</b> {% endif %}</i></p>
         <div style="height:200px"></div>
        
      </div>
   </div>
{% endif %}
<!-- /filters 
<!--
<div class="container container-custom margin_80_0">
   <div class="col-lg-12">
      <form method="get" action="{% url 'search' %}">
         <div class="row no-gutters custom-search-input-2 inner">
            <div class="col-lg-7">
               <div class="form-group">
                  <input class="form-control query" type="text" name="query" {% if keyword %}value="{{keyword}}" {% endif %} placeholder="Cari..." autocomplete="off">
                  <i class="icon_search"></i>
               </div>
            </div>
            <div class="col-lg-3">
               <select class="wide category" name="category">
                  <option value="all">Semua Kategori</option>
                  {% for i in cat %}
                  <option value="{{i.name}}" {% if category == i.name %}selected{% endif %}>{{i.name}}</option>
                  {% endfor %}
               </select>
            </div>
            <div class="col-lg-2">
               <input type="submit" class="btn_search" value="Cari">
            </div>
         </div>
      </form>
      {% if counting >= 1 %}
      {% else %}
      <p class="lead" style="font-size:20px">Tidak ditemukan pencarian dengan kata kunci <i><b>{{keyword}}</b></i>{% if category %} dan kategori <i><b>{{category}}</b> {% endif %}</i></p>
      <div style="height:200px"></div>
      {% endif %}
   </div>
</div>
-->
<!-- /custom-search-input-2 -->
<div class="container container-custom margin_50_0">
   <div class="row postwrapper" style="margin: 0px;">
      {% for i in objects %}
      <div class="col-xl-3 col-lg-6 col-md-6 isotope-item popular">
         <div class="box_grid">
            <figure class="">
               <a href="{{i.get_absolute_url}}">
                  {% thumbnail i.photo "800x533" crop="center" as im %}
                  <img src="{{ im.url }}" class="img-fluid img-exp" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                  <div class="read_more"><span>{% trans 'Read more' %}</span></div>
               </a>
               <small>{{i.get_category}} </small>
            </figure>
            <div class="wrapper">
               <div class="_13qcgpja" title="{{i.city.name}} · {{i.city.state.name}}">{{i.city.name}} · {{i.city.state.name}}</div>
               <h3 class="_1s5t6bf8"><b><a href="{{i.get_absolute_url}}">{{i.title}}</a></b></h3>
               <span class="_fgby1rh price-text">{% trans 'From' %} IDR {{i.get_price}}/{% trans 'person' %} · {{i.get_duration}}</span>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   {% if counting >= 9 %}
   <div class="loadmoreajaxloader" style="display:none;">
      <p class="text-center">
         <img src="/static/AjaxLoader.gif" alt="Ajax Loader"/>
      </p>
   </div>
   <div id="hsbutn">
      <p class="text-center">
         <a href="javascript:void(0)" class="btn_1 rounded add_top_30" id="historyBtn">Load more</a> 
      </p>
   </div>
   {% endif %}
</div>
<div style="height: 200px;"></div>
<!--/call_section-->
{% endblock content %}
{% block js %}
<!-- Map -->
<!-- Masonry Filtering -->
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/loadmore.js' %}"></script>
{% endblock js %}