<body>
{% if sharing_verify %}
<div class="alert alert-info" role="alert">
   <strong>Sharing:</strong> Anda akan bergabung dengan {{other_guest|default:""}} tamu yang melakukan booking pada tanggal yang sama.<br> <br>
    <strong>Detail Harga</strong> <br>
                    {{date|date:"D, M d Y"}} &nbsp;&nbsp;{{obj.start_time|time:"H:i A"}} − {{obj.end_time|time:"H:i A"}}

                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-8">
                              <strong>Anda memesan untuk</strong>
                           </div>
                           <div class="col-lg-4">
                              {{guest}} Orang<br>
                           </div>
                        </div>

                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-7">
                              Rp {{price}} x {{guest}} Tamu<br>
                           </div>
                           <div class="col-lg-5">
                            Rp {{price_per}}<br>
                           </div>
                        </div>
                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-7">
                              Fee untuk Lokalx.id<br>
                           </div>
                           <div class="col-lg-5">
                              Rp {{percentage}}<br>
                           </div>
                        </div>

                        <hr class="pricelist">
                        <div class="row">
                           <div class="col-lg-7">
                              <strong>Total</strong>
                           </div>
                           <div class="col-lg-5">
                            <strong style="color: #00937A;">Rp {{pricetotal}}</strong><br>
                           </div>
                        </div><br>
</div>
{% else %}
<div class="alert alert-warning" role="alert"><strong>Maaf</strong> Jumlah peserta sudah melebihi batas. Silahkan pilih tanggal lain.<br> <br>
</div>
{% endif %}
</body>
<script>
$('#price_text').html("{{price}}");

</script>
