[data-loader="circle-side"] {
	border: 2px solid #F7675E
}

.accordion_2 .card-header h5 a {
    color: #555;
}

header.sticky .main-menu>ul>li span>a {
	color: #444
}

header.sticky .main-menu>ul>li span:hover>a {
	opacity: 1;
	color: #F7675E
}

.main-menu ul ul li:hover>a {
	background-color: #f9f9f9;
	color: #F7675E;
	padding-left: 18px
}

.main_title_2 span em {
	background-color: #F7675E
}

.main_title_3 span em {
	background-color: #F7675E
}

a {
	color: rgb(72, 72, 72);
}

a:hover,
a:focus {
	color: #111;
	text-decoration: none;
	outline: none
}

a.btn_1,
.btn_1 {
	background: #F7675E
}

a.btn_1.outline,
.btn_1.outline {
	border: 2px solid #F7675E;
	color: #F7675E
}

a.btn_map:hover {
	color: #F7675E
}

a.btn_map_in,
.btn_map_in {
	background: #F7675E
}

.hero_in a.btn_photos:hover {
	color: #F7675E
}

footer ul li a:hover {
	color: #F7675E;
	opacity: 1
}

footer ul.links li a:hover:after {
	opacity: 1;
	color: #F7675E
}

#newsletter input[type='submit'] {
	background-color: #F7675E
}

#custom-search-input input[type='submit'] {
	background-color: #F7675E
}

.custom-search-input-2 input[type='submit'] {
	background-color: #F7675E
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #F7675E !important
}

a.box_news:hover h4 {
	color: #F7675E
}

.box_grid a.wish_bt.liked:after {
	color: #F7675E
}

.box_grid a.wish_bt:hover.liked:after {
	color: #F7675E
}

.box_list a.wish_bt.liked:after {
	color: #F7675E
}

.box_list a.wish_bt:hover.liked:after {
	color: #F7675E
}

.layout_view a:hover {
	color: #F7675E
}

.switch-field label:hover {
	color: #F7675E
}

.secondary_nav ul li a:hover {
	color: #F7675E;
}


a.btn_infobox_detail:before:hover {
	color: #F7675E
}

.btn_infobox_get_directions,
a.btn_infobox_phone {
	color: #F7675E
}

.contact_info ul li h4 {
	color: #F7675E
}

.hero_in .wrapper h1 span {
	background-color: #F7675E;
}

.search_bar_error input[type='submit'] {
	background-color: #F7675E
}

.form_title h3 strong {
	background-color: #F7675E
}

.grid ul li figcaption a:hover,
.grid ul li figcaption a:focus {
	color: #F7675E
}

ul#cat_nav li a:hover,
ul#cat_nav li a#active,
ul#cat_nav li a.active {
	color: #F7675E
}

.list_articles ul li a:hover {
	color: #F7675E
}

#toTop:hover {
	background-color: #F7675E
}

.accordion_2 .card-header h5 a i.indicator {
	color: #F7675E
}

#cookie-bar .cb-policy {
	background: #F7675E
}

.applyBtn.btn.btn-sm.btn-primary {
	background-color: #F7675E
}

.cluster-visible {
	background-color: #F7675E
}

.cluster-visible:before {
	border: 7px solid #F7675E;
	box-shadow: inset 0 0 0 4px #F7675E
}

article.blog .post_info h3 a:hover {
	color: #F7675E
}

.comments-list h3 a:hover {
	color: #F7675E
}

.widget ul.cats a:hover {
	color: #F7675E
}

.tags a:hover {
	background-color: #F7675E
}

.postmeta ul li a:hover {
	color: #F7675E
}

.pricing-switcher .fieldset {
	background-color: #F7675E
}

.pricing-switcher .switch {
	background-color: #d97a08
}

@media only screen and (min-width: 768px) {
	.pricing-wrapper>li::before {
		background-color: #fff
	}

}

.banner {
	background: url(../img/duotone.webp) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 420px;
	margin-bottom: 60px;
	position: relative;
	background-position: center center;
	border-radius: 20px;
	background-repeat: no-repeat;
	margin: 20px;
}

ul#top_menu {
	float: left;
	margin: 0 0 0 0px;
}

.md-form {
	margin-left: 20px;
	margin-top: 1px !important;
}


@media (max-width: 767px) {
	.banner {
		background: url(../img/duotone.webp) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover
	}
	header {
		padding: none;
	}
}

.banner .wrapper {
	color: #fff;
	padding: 60px
}

@media (max-width: 767px) {
	.banner .wrapper {
		padding: 30px
	}
}

.banner .wrapper small {
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 500
}

.banner .wrapper h3 {
	color: #fff;
	font-size: 32px;
	font-size: 2rem;
	margin: 15px 0 0 0
}

.banner .wrapper p {
	font-size: 21px;
	font-size: 1.3125rem
}

.container-custom {
	max-width: 1350px;
	padding-left: 60px;
	padding-right: 60px;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#menu {
	top: 20px;
	margin-right: 40px;
}

.logo_normal {
	margin-left: 0;
	margin-top: 10px;
}

.logo_sticky {
	margin-left: 0px;
	margin-top: 10px;
}

#logo {
	margin-left: 10px;
}

.hero_in.tours:before {
	background: url(../img/hero_in_bg_1.jpg) no-repeat;
}

@media (max-width: 767px) {
	#slider.flexslider li .meta {
		left: 45px;
		bottom: auto;
		top: 30%;
	}
	.box_grid .price {
		display: block !important;
		margin: -3px !important;
		padding: 1px !important;
	}
	.black-form {
		margin: 5px 0px 0px 0px;
	}
}


@media (max-width: 991px) {
	#logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 33%;
		margin-left: 0px;
	}
	
	.secondary_nav.is_stuck {
		top: 90% !important;
		position: fixed !important;
		left: 0px !important;
		bottom: 0px !important;
		width: 100% !important;
		background-color: rgb(255, 255, 255) !important;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 9px 3px !important;
		z-index: 5 !important;
		border-top: 1px solid rgb(235, 235, 235) !important;
		transition: background-color 0.25s ease 0s, color 0.25s ease 0s !important;
	}

	.md-form {
		margin: -19px 46px 0px 44px !important;
		min-width: 80% !important;
	}

	#logo img {
		height: 40px;
		margin: 12px 0 0 0;
	}
	.logo_sticky {
		margin-top: 8px !important;
	}

	.form-control-search {
		padding: 20px 0px 10px 0px;
	}
	.hero_in.tours {
		background-image: url(../img/hero_in_bg_1.jpg);
		background-repeat: no-repeat;
	}

	.mobile-space {
		margin: 0px 0px 20px;
	}
	.mobile-space-2 {
		margin: 0px 0px 10px;
	}
	.hero_in .wrapper p {
		font-size: 1.1rem;
	}

	ul#top_menu {
		float: right;
	}

	header {
		padding: 24px 15px;
	
	}

	.btn_mobile {
		float: left;
		
	}
}

@media only screen and (max-width: 600px) {
	.experience-p-date {
	font-size: 15px !important;
} 
	._1o4htsfg {
		padding-top: 9px !important;
		padding-bottom: 9px !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.black-form {
		color: black !important;
		-webkit-input-placeholder: black;
		height: 0px !important
		/* WebKit, Blink, Edge */
	}
	.hamburger-box {
		height: 20px;
	}
	.md-form {
		margin: -17px 0px 0px 50px !important;
		min-width: 80% !important;
	}
	ul#top_menu {
		float: none;
	}
	.btn_mobile {
		float:left;
		margin-top:-24px;
	}

	.hamburger-box {
		position: initial;
	}

	.hero_in.adventure_detail .wrapper .main_info {
		padding-bottom: 40px;
	}

	/*
	.experience-p {
		font-size: 16.5px !important;
	}
	*/

	.secondary_nav.is_stuck {
		top: 87% !important;
	}

	.mobile-li {
		margin-top:20px;
	}
	#slider.flexslider li .meta {
		top: 24%;
	}
	#logo  {
		display: none;
	}
}
.reset-color:hover {
	color: #fff;
}

.box_detail .price>span>small {
	font-size: 15px;
}

.pricelist {
	margin: 15px 0 15px 0;
}

.link {
	text-decoration: none;
}

section#description,
section#reviews {
	border-bottom: 0px solid #ededed;
}

#description {
	margin: 0px !important;
	word-wrap: break-word !important;
	font-size: 16px !important;
	/*line-height: 22px !important;*/
	/*letter-spacing: normal !important;*/
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	color: #484848 !important;
	font-weight: normal !important;
}

.spinner {
	margin: 30px auto 30px;
	width: 70px;
	text-align: center;
}

.spinner>div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.magnific-gallery {
	text-align: left !important;
}

body {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #484848;
	background-color: #fff;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._titlecard {
	overflow-wrap: break-word !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
	font-size: 16px !important;
	font-weight: 800 !important;
	line-height: 1.375em !important;
	text-overflow: ellipsis !important;
	max-height: 4.125em !important;
	-webkit-line-clamp: 3 !important;
	display: -webkit-box !important;
	-webkit-box-orient: vertical !important;
	margin: 0px !important;
	overflow: hidden !important;
}

.reset-color {
	color: white;
}

.box_grid {
	display: block;
	position: relative;
	margin-bottom: 30px;
}

.box_grid .price {
	display: inline-block;
	font-weight: 500;
	color: #999;
	margin: -4px;
	padding: 0px;
}

.box_grid .price strong {
	color: #32a067
}

.box_grid a.wish_bt {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 1;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 9px 10px;
	display: inline-block;
	color: #fff;
	line-height: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.box_grid a.wish_bt:after {
	font-family: 'ElegantIcons';
	content: "\e030";
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease
}

.box_grid a.wish_bt.liked:after {
	content: "\e089";
	color: #fc5b62
}

.box_grid a.wish_bt:hover.liked:after {
	color: #fc5b62
}

.box_grid a.wish_bt:hover:after {
	content: "\e089";
	color: #fff
}

.box_grid figure {
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
	height: 210px
}

.box_grid figure small {
	position: absolute;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
	left: 20px;
	top: 22px;
	text-transform: uppercase;
	color: #ccc;
	font-weight: 600;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 10px 4px 10px;
	line-height: 1
}

.box_grid figure .read_more {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -12px;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	text-align: center;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	z-index: 2
}

.box_grid figure .read_more span {
	background-color: #fcfcfc;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
	display: inline-block;
	color: #222;
	font-size: 12px;
	font-size: 0.75rem;
	padding: 5px 10px
}

.box_grid figure:hover .read_more {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0)
}

.box_grid figure a img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale(1.1);
	-moz-transform: translate(-50%, -50%) scale(1.1);
	-ms-transform: translate(-50%, -50%) scale(1.1);
	-o-transform: translate(-50%, -50%) scale(1.1);
	transform: translate(-50%, -50%) scale(1.1);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.box_grid figure a:hover img {
	-webkit-transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1)
}

.box_grid .wrapper {
	padding: 12px 0px 2px 0px
}

.box_grid .wrapper h3 {
	font-size: 20px;
	font-size: 1.25rem;
	margin-top: 0
}

.box_grid ul {
	padding: 20px 15px;
	border-top: 1px solid #ededed
}

.box_grid ul li {
	display: inline-block;
	margin-right: 15px
}

.box_grid ul li .score {
	margin-top: -10px
}

.box_grid ul li:last-child {
	margin-right: 0;
	float: right
}

.cat_star i {
	margin-right: 2px;
	color: #FFC107
}

.rating {
	color: #ccc
}

@media (min-width: 1200px) {
	.secondary_nav.is_stuck {
		top: 70px !important;
	}
	._222jlx8 {
		width: 33.33% !important;
	}
	header {
		padding: 20px 50px;
	}	
	header.header.sticky {
		padding: 0px 5px;
	}
	.container {
		max-width: 1215px;
	}
	.filters_listing {
		padding-left: 60px;
		padding-right: 60px;
	}
}

#slider.flexslider li .meta {
	bottom: 45%;
}

h2 {
	font-weight: 800 !important;
	margin-bottom: 0px !important;
	font-size: 24px !important;
	line-height: 30px !important;
	letter-spacing: normal !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
	color: rgb(72, 72, 72) !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.default-color {
	margin-left: 30px;
	float: left;
}

.form-control-search {
	background-color: transparent !important;
	border: 0px solid !important;
	border-radius: 0 !important;
	background-image: none !important;
	border-bottom-color: white !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	box-shadow: none !important;
	display: block !important;
	font-size: 15px !important;
	height: 41px !important;
	width: 100%;
	color: white !important;
	outline: 0;
}

.form-control-search::-webkit-input-placeholder {
	color: white;
}


/* WebKit, Blink, Edge */

.form-control-search:-moz-placeholder {
	color: white;
}


/* Mozilla Firefox 4 to 18 */

.form-control-search::-moz-placeholder {
	color: white;
}


/* Mozilla Firefox 19+ */

.form-control-search:-ms-input-placeholder {
	color: white;
}


/* Internet Explorer 10-11 */

.form-control-search::-ms-input-placeholder {
	color: white;
}


/* Microsoft Edge */

.black-form {
	color: black !important;
	-webkit-input-placeholder: black;
	height: 60px !important;
	/* WebKit, Blink, Edge */
}

.black-form::-webkit-input-placeholder {
	color: #555;
}

._1s5t6bf8 {
	overflow-wrap: break-word !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
	font-size: 16px !important;
	font-weight: 800 !important;
	line-height: 1.375em !important;
	text-overflow: ellipsis !important;
	max-height: 4.125em !important;
	-webkit-line-clamp: 3 !important;
	display: -webkit-box !important;
	-webkit-box-orient: vertical !important;
	margin: 0px !important;
	overflow: hidden !important;
}

.img-exp {
	object-fit: cover;
	height: 100% !important;
	width: 100% !important;
}

main {
	background: #fff !important;
}

body {
	background: #fff !important;
}

.box_grid {
	bottom: 0px !important;
	left: 0px !important;
	right: 0px !important;
	top: 0px !important;
	transition: opacity 200ms ease-in 0s !important;
	width: 100% !important;
	text-align: left !important;
	width: 100% !important;
	z-index: 0 !important;
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	overflow: hidden !important;
}

.learn {
	font-size: 18px !important;
	line-height: 24px !important;
	margin-top: 16px !important;
	padding: 12px 0px !important;
}

.learn {
	font-size: 18px !important;
	line-height: 20px !important;
	letter-spacing: normal !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	text-transform: undefined !important;
	color: #FFFFFF !important;
	padding-top: undefined !important;
	padding-bottom: undefined !important;
	font-weight: 600 !important;
	margin-top: 12px !important;
	display: inline-block !important;
}

._l3bsjs {
	font-weight: 600 !important;
	font-size: 17px !important;
	line-height: 22px !important;
	display: inline !important;
	color: #00937A;
	margin-right: 6px !important;
}

._1kq4icyr {
	cursor: pointer !important;
	display: inline-block !important;
	position: relative !important;
	text-align: center !important;
	width: auto !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
	font-size: 14px !important;
	line-height: 18px !important;
	font-weight: 600 !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	-webkit-mask-image: -webkit-radial-gradient(center, white, black) !important;
	color: rgb(34, 34, 34) !important;
	box-shadow: rgba(0, 0, 0, 0.12) 2px 0px 16px !important;
	margin: 0px !important;
	text-decoration: none !important;
	border-radius: 8px !important;
	border-width: 1px !important;
	border-style: none !important;
	outline: none !important;
	overflow: hidden !important;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
	border-color: rgb(34, 34, 34) !important;
	background: rgb(255, 255, 255) !important;
}

@media (min-width: 1128px) {
	._41uv8t0 {
		left: auto !important;
		right: 13px !important;
	}
}

._41uv8t0 {
	position: fixed !important;
	z-index: 3 !important;
	left: auto !important;
	right: 72px !important
}

._jro6t0 {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
}

._rqfxvmb {
	-ms-grid-row-align: center !important;
	-ms-flex-item-align: center !important;
	display: -webkit-inline-box !important;
	display: -moz-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: -webkit-inline-flex !important;
	display: inline-flex !important;
	-webkit-align-self: center !important;
	align-self: center !important;
}

@media only screen and (min-width: 992px) {
	.main-menu>ul>li span>a {
		color: #fff;
		padding: 0 8px 15px 8px;
		font-size: 0.875rem;
		font-weight: 600;
	}
	.secondary_nav.is_stuck {
		top: 710px !important;
	}
}

._b4rlyi {
    position: fixed !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 9px 3px !important;
    z-index: 5 !important;
    border-top: 1px solid rgb(235, 235, 235) !important;
    padding: 10px 0px !important;
    transition: background-color 0.25s ease 0s, color 0.25s ease 0s !important;
}

.filters_listing {
	max-width: 1350px;
}

.score strong {
	background-color: #F7675E;
}

#mm-blocker {
    position: absolute !important;
}

.mm-title {
	margin-left: -100px;
}

#panel_dates {
	z-index: 99999999;

}

