{% load staticfiles %}
{% load google_analytics %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %} 
	<meta name="description" content="We offer a deep-dive into the local host&rsquo;s world through local passion. Hosts offer their guests special knowledge, unique skills, and inside access to local places and communities, creating lasting connections and treasured memories.">
    <meta name="author" content="lokalx">
    <title>{% block title %}Indonesia Best Experiences{% endblock title %}</title>
	<meta property="og:image:width" content="1190">
    <meta property="og:image:height" content="623">
    <meta property="og:title" content="Find Experiences In Indonesia">
    <meta property="og:description" content="We offer a deep-dive into the local host&rsquo;s world through local passion. Hosts offer their guests special knowledge, unique skills, and inside access to local places and communities, creating lasting connections and treasured memories.">
    <meta property="og:url" content="https://lokalx.id/">
    <!-- Favicons<meta property="og:image" content="https://lokalx.id/static/social/og-image.jpg">    -->
	{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#f7675e">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	{% block stylesheets %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
	{% endblock %}
    <!-- YOUR CUSTOM CSS -->
	<link href="{% static 'css/font-custom.css' %}" rel="stylesheet">
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	{% block css %}{% endblock css %}

</head>

<body>
	
	<div id="page">
	{% include "header.html" %}

		{% block content %}{% endblock content %}
	
	<!--/main-->
    <div style="height: 80px;"></div>
	<!--/footer-->
	</div>
	<!-- page -->
	
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% if search_active %}
    <script>
        $('.header').addClass("sticky");
        $('.form-nav').addClass("black-form");
        document.addEventListener(
                "DOMContentLoaded", () => {
                    new Mmenu( "#menu" );
                }
            );
    </script>
    {% else %}
    <script>
    $(window).on('scroll', function () {
		if ($(this).scrollTop() > 1) {
			$('.header').addClass("sticky");
			$('.form-nav').addClass("black-form");
		} else {
			$('.header').removeClass("sticky");
			$('.form-nav').removeClass("black-form");
		}
    });
    </script>
    {% endif %}
    {% block js %}
	{% endblock js %}
{% google_analytics %}	  
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '336806336843717');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=336806336843717&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</body>
</html>
