
	<footer style="display: none">
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-4 col-md-12 p-r-5">
					
					<p>
						Indonesian Experience Marketplace<br>
						Experience adalah aktivitas istimewa yang dirancang dan dijalankan oleh komunitas lokal setempat. 
						Lokal akan berbagi tentang minat, pengetahuan, serta keahliannya, juga menunjukkan tempat wisata, budaya dan kearifan lokal sekitar yang tidak diketahui oleh banyak orang umumnya. 

					</p>	
					<div class="follow_us">
						<ul>
							<li>Ikuti Kami</li>
							<li><a href="https://www.facebook.com/lokalx/"><i class="ti-facebook"></i></a></li>
							<li><a href="https://instagram.com/lokalx"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 ml-lg-auto">
					
				</div>
				<div class="col-lg-2 col-md-6 ml-lg-auto">
					
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>lokalx.com</h5>
					<ul class="links">
							<li><a href="/tentang">Tentang Kami</a></li>
							<li><a href="/kontak">Hubungi Kami</a></li>
							<li><a href="/kebijakan-privasi">Kebijakan Privasi</a></li>
							<li><a href="/kebijakan-pembatalan">Kebijakan Pembatalan</a></li>
							<li><a href="{% url "joinlokalhost" %}">Bergabung (Lokal)</a></li>
							<li><a href="/bantuan">Bantuan</a></li>
							<!--<li><a href="register.html">Syarat Ketentuan</a></li>
							<li><a href="register.html">Media Kit</a></li>-->
							<li><a href="/blog">Blog</a></li>
						</ul>
	
					<div id="newsletter">
					   <h6>Metode Pembayaran:</h6>
					   <img src="/static/img/cards_all.svg" alt="">
                    </div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<ul id="footer-selector">
						<li>
							<div class="styled-select" id="lang-selector">
								<select>
									<option value="Indonesia">Indonesia</option>
								</select>
							</div>
						</li>
						<li>
							<div class="styled-select" id="currency-selector">
								<select>
									<option value="IDR" selected>IDR Indonesia Rupiah</option>
									
								</select>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul id="additional_links">
						<li><span>© 2019 lokalx.com</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>