{% load staticfiles %}
{% load i18n %}
<header class="header menu_fixed">
   <div id="preloader">
      <div data-loader="circle-side"></div>
   </div>
   <div id="logo">
      <a href="/">
      <img src="{% static 'logo.png' %}" height="35" data-retina="true" alt="" class="logo_normal">
      <img src="{% static 'logo.png' %}" height="35" data-retina="true" alt="" class="logo_sticky">
      </a>
   </div>

   
   <ul id="top_menu">
      <form class="form-inline" action="{% url 'search' %}">
         <div class="md-form my-0">
            <input class="form-control-search no-border mr-sm-2 form-nav" type="text" placeholder="Search" aria-label="Search" name="query" {% if keyword %}value="{{keyword}}" {% endif %} autocomplete="off">
            {% if city %}
            <input type="hidden" name="city" value="{{city}}"/>
            {% endif %}
            {% if category %}
            <input type="hidden" name="category" value="{{category}}"/>
            {% endif %}
         </div>
      </form>
   </ul>
   <!-- /top_menu -->
   <a href="#menu" class="btn_mobile ">
      <div class="hamburger hamburger--spin" id="hamburger">
         <div class="hamburger-box">
            <div class="hamburger-inner"></div>
         </div>
      </div>
   </a>
   <nav id="menu" class="main-menu">
      <ul>
         <li><span><a href="/">{% trans 'Home' %}</a></span>
         </li>
         <li><span><a href="/blog">Blog</a></span>
         </li>
         <li><span><a href="{% url "joinlokalhost" %}">Bergabung</a></span>
         </li>
         <li><span><a href="/bantuan">{% trans 'Help' %}</a></span>
         </li>
         <li><span><a href="/tentang">{% trans 'About' %}</a></span>
         </li>
         <li><span><a href="/kontak">{% trans 'Contact' %}</a></span>
         </li>
         <li><span><a href="/kebijakan-privasi">{% trans 'Privacy' %}</a></span>
         </li>
         <li><span><a href="/kebijakan-pembatalan">{% trans 'Cancelation' %}</a></span>
         </li>
      </ul>
   </nav>
</header>
